<div class="cluster-popup">
    <div class="listing">
        <div class="image-wrapper">
            <img src="https://s3.amazonaws.com/propertybase-clients/00DU0000000KOAwMAO/a0CU00000015DsW/4ed569ef1d225/IS8h0rm6or849v.jpeg" />
        </div><div class="listing-info">
        <div class="listing-street">2200 Pacific Ave</div>
        <div class="listing-price">$1800000.00</div>
        <div class="listing-details"><span><strong>3</strong> beds</span><span><strong>4.00</strong> baths</span></div>
        <div class="listing-sqft">3286sq ft</div></div></div></div><div class="cluster-popup">
    <div class="listing"><div class="image-wrapper"><img src="https://s3.amazonaws.com/propertybase-clients/00DU0000000KOAwMAO/a0CU000000T6fdx/p196ik69t5pahleh15rg1k5t1t1m8/157MarviewINT2.jpg" /></div><div class="listing-info"><div class="listing-street">582 Chestnut St</div><div class="listing-price">$560000.00</div><div class="listing-details"><span><strong>3</strong> beds</span><span><strong>3.00</strong> baths</span></div><div class="listing-sqft">2100sq ft</div></div></div></div>