.favoritesContainer {
    border-bottom: 1px solid #ececec;
    margin-bottom: 15px;
    padding-bottom: 15px;
    float:left;
}
.favoritesPhoto {
    width:25%;
    float:left;
}
.favoritesPhoto img {
    width:100%;
}
.favoritesDetails {
    width:75%;
    float:left;
}
.favoritesAddress {
    color: #333;
    display: inline-block;
    font-size: 22px;
    padding-left: 3%;
    padding-top: 20px;
    vertical-align: top;
}
.favoritesCityStateZip {
    font-size:16px;
    color:#999;
}
.favoritesPrice{
    background-color:#CE1919;
    color:#FFFFFF;
  	float:right;
  	font-size:22px;
  	margin:0;
  	padding: 12px 10px 11px;
}
.favoritesInfo {
    clear: right;
    display: inline-block;
    float: left;
    margin: 20px 0;
    padding: 0 0 0 3%;
    width: 97%;
}
.infoItem {
    color: #999999;
    float: left;
    font-size: 20px;
    margin: 0 20px 0 0;
    padding: 10px 0;
}
.infoItem .fa {
   color:#333;
   margin-right:10px;
}
.lblSqft, .lblBed, .lblBath {
    color: #333;
    font-weight: bold;
    margin-right: 10px;
}
.favoritesButtons {
    float: left;
    padding: 0 3%;
    width: 94%;
}
.btnRemove {
    float:right; 
}
.btnRemove a, .btnDetails a {
   color:#333; 
}
.btnRemove .fa, .btnDetails .fa {
   color:#CE1919; 
}

/***** Mobile CSS *****/
@media screen and (max-width: 768px) and (min-width: 0px) {
  	.propertyImages {
        height:auto !important;
    }
    .propertySidebar {
        margin-top:10px; !important;
    }
    .favoritesPhoto, .favoritesDetails {
        width: 100% !important;
    }
  	.title-heading {
        float: left;
        height: auto !important;
        padding: 5px 2% !important;
        position: relative !important;
        top: -60px !important;
        width: 96%;
    }
}

/* End Mobile */
/***** Tablet CSS *****/
@media screen and (max-width: 1024px) and (min-width: 769px) {
		.span9, .span3 {
        margin: 0 !important;
        width: 100% !important;
        float:left !important;
    }
  	.propertySidebar {
        margin-top:10px !important;
    }
}
/* End Tablet */
