﻿.propertyDetails {
    width:15%;
    float:left;
}
.propertyDetails .favorites {
    background-color:#333;
    text-align:center;
}
.propertyDetails .favorites:hover {
    background-color:#666;
}
.propertyDetails .favorites .fa {
    color:#fff;
    font-size:20px;
    line-height:40px;
}
.propBox {
    width:100%;
    height:120px;
    font-size:16px;
    border-bottom:1px solid #ececec;
    padding:5px 0;
}
.propBox.scheduleShowing {
    background-color: #CE1919 !important;
    color: #FFFFFF !important;
    font-size: 22px;
    text-align: center;
    height:153px;
}
.propBox.scheduleShowing:hover {
    background-color: #333 !important;
}
.propBox.scheduleShowing a {
    color: #FFFFFF !important;
    display: inline-block;
    font-size: 22px;
    line-height: 26px !important;
    margin-top: 52px !important;
}
.propValue, .propLabel {
    width:100%;
    margin:40px 0 0;
    font-size:28px;
    float:left;
    text-align:center;
}
.propertyOverview {
    float:left;
    width:85%;
}
.propLabel {
    
    font-size:16px;
    margin: 10px 0 0;
}
.propertyName {
    width:100%;
    float:left;
    background-color:#fff;
}
.propertyName .title {
    color: #272727;
    float: left;
    font-size: 16px;
    line-height: 40px !important;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 0 0 16px;
}
.propertyName .price {
    background-color: #CE1919;
    color: #FFFFFF;
    display: inline-block;
    font-size: 22px;
    padding: 10px;
    float:right;
    margin:0;
  
}
.propertyImages {
    width:100%;
    height:525px;
    float:left;
    border-right:1px solid #ececec;
}
.fieldsWrapper {
 		width:96%;
    padding:2%;
    float:left;
}
.propertyDesc, .detailsContainer, .propertyMap {
 		width:100%;
    float:left;
}
.propertyTitle {
    width:100%;
    color:#333;
    float:left;
}
.propertyDesc p {
 		margin-left:10px; 
}
.detailsColumn {
 		width:48%;
    padding:1%;
    float:left;
}
.detailsColumn div {
 		border-bottom: 1px solid #DDDDDD;
    float: left;
    line-height: 20px;
    padding: 5px 1%;
    width: 98%;
}
.detailsColumn div:hover {
 		background-color:#ececec;
}
.fieldLabel {
    color: #333333;
    font-weight: bold;
}
.fieldData {
  	margin-left:10px;
}
.propertySidebar {
    width:100%; 
    min-height:300px; 
    padding:0; 
    margin:52px 0 0; 
    background-color:#fff; 
    float:left;
}
.propertySidebar .sidebarInner {
    padding:2%; 
}
.propertySidebar h3 {
    background-color: #CE1919;
    color: #FFFFFF !important;
    font-size: 20px !important;
    margin: 0 0 10px !important;
    padding: 0 2%;
    text-align: center;
    top: 0;
    width: 96%;
}
.propertySidebar .widget-area {
    padding: 10px;
}
.propertySidebar input, .propertySidebar select, .propertySidebar textarea {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #C8C8C8 !important;
    border-radius: 2px !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset !important;
    color: #191919 !important;
    font-size: 15px !important;
    height: 40px !important;
    max-width: 100% !important;
    padding: 4px 6px !important;
    transition: all 0.2s linear 0s !important;
    width: 100% !important;
}
.propertySidebar select, .propertySidebar textarea {
    height:auto !important; 
    min-height:40px !important;
}
.propertySidebar select {
    padding-top:10px !important;
  	padding-bottom:10px !important; 
}
.propertySidebar input[type="submit"] {
    background-color:#CE1919 !important;
    color:#fff !important;
}
.propertySidebar input[type="submit"]:hover {
    background-color:#333 !important;
}
.slick-slider {
    -moz-box-sizing: border-box;
    -moz-user-select: none;
    display: inline-block !important;
    margin-bottom: 0 !important;
    min-height: 150px !important;
    position: relative !important;
    width: 100% !important;
}
.slick-prev, .slick-next {
    margin-top:-20px !important; 
    width:40px !important;
    height:40px !important;
    z-index: 1000000;
}
.slick-prev:before, .slick-next:before {
    font-size:40px !important;
    color:#fff !important;
    z-index:1000000;
    text-shadow:#000 0 0 5px;
}
.slick-next {
    right: 4px !important;
}
.slick-prev {
    left: 4px !important;
}
.detailsDisclaimer {
    color: #BBBBBB;
    display: inline-block;
    font-size: 11px;
    font-style: italic;
    margin: 15px 0 0;
    text-align: center;
    width: 100%;
}

/***** Mobile CSS *****/
@media screen and (max-width: 768px) and (min-width: 0px) {
    .propertyDetails, .propertyOverview {
        width:100%;
    }
    .detailsColumn {
    		width: 98%;
		}
  	.propertyName .title, .propertyName .price {
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }
  	.propertyImages {
        height:auto !important;
    }
    .propertySidebar {
        margin-top:10px; !important;
    }
    
}

/* End Mobile */
/***** Tablet CSS *****/
@media screen and (max-width: 1024px) and (min-width: 769px) {
		.span9, .span3 {
        margin: 0 !important;
        width: 100% !important;
        float:left !important;
    }
  	.propertySidebar {
        margin-top:10px !important;
    }
}
/* End Tablet */