﻿.searchHeader {
  backface-visibility: hidden;
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px solid #C8C8C8;
  box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  z-index: 1000;
}
.container {
  display: table;
  margin: 0 auto;
  max-width: 1350px;
  padding: 0 15px;
  width: 100%;
}
.searchLogo {
  float:left;
  padding-right:10px;
}
.searchLogo img {
  max-width:250px;
}
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
/* search bar css */
.searchBar {
  float:left;
  position: relative;
  width:788px;
}
.searchBy {
  text-transform: uppercase;
  padding: 10px 10px;
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.searchBy:hover {
  background-color:#ececec;
}
@-webkit-keyframes mymove {
0% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}
@keyframes mymove
0% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.ddSearchBy, .ddPrice, .ddType, .ddBeds, .ddBaths, .ddMore, .ddSearchResults, .ddSort {
  position: absolute;
  top: 45px;
  width: 150px;
  list-style-type: none;
  left: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-animation: mymove .3s cubic-bezier(.215,.61,.355,1);
    animation: mymove .3s cubic-bezier(.215,.61,.355,1);
  z-index:100000;
}
.ddType {
  width: 175px;
  padding: 10px;
  left:75px;
}
.ddSort {
  width:175px;
  padding:10px;
  top:40px !important;
}
.ddBeds {
  left:150px;
  padding: 10px;
  width:130px;
}
.ddBaths {
	width:130px;
  left:225px;
  padding: 10px;
}
.ddMore {

  left: initial;
  padding: 10px;
  width: 759px;
  right: 0 !important;
}
.ddPrice {
  width:200px !important;
}
.ddPrice input[type="number"] {
    width: 44%;
    margin: 10px 2%;
}
.ddSearchResults {
  left: 120px;
  width: 646px;
  padding:10px;
}
.ddSearchBy:before, .ddPrice:before, .ddType:before, .ddBeds:before, .ddBaths:before, .ddMore:before, .ddSearchResults:before, .ddSort:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: 10px;
  background: #fff;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  border-bottom-left-radius: 3px;
  border: 1px solid #c8c8c8;
  border-right: none;
  border-top: none;

}
.ddMore:before {
  right:10px !important; 
  left:initial;
}
.ulSearchBy, .ulType, .ulBeds, .ulBaths, .ulMore, .ulSearchResults, .ulSort {
  padding-top:15px;
}
.searchHeader ul {
  margin: 0 !important;
  list-style-type: none !important
}
.ulSearchBy a, .ddPrice li, .ulSearchResults li a, .ddSort li {
  display:block;
  color:#191919;
  padding:5px 10px;
}
.ulSearchBy a:hover, .ddPrice li:hover, .ulSearchResults li a:hover, .ddSort li:hover {
  color:#fff !important;
  background-color:#bd0c0b; /*red*/
}
.ddSearchResults {
  display:none;
}
input.inputSearch {
  padding: 10px 5px !important;
  height: 42px !important;
  display: inline-block;
  margin: 0 !important;
  margin-top: -2px !important;
  width: 668px !important;
}
.input.inputSeach:focus label {
  display:none;
}
.lblSearch {
  display: block;
  margin: 0;
  position: absolute;
  top: 7px;
  left: 10px;
  color: #bbb !important;
  cursor: inherit;
}
.inputHolder {
    display:inline-block;
    position:relative;
}
.searchFilters {
  float:left;
  position:relative;
}

.searchFilters button {
  color: #fff !important;
  background-color: #bd0c0b;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  min-height: 42px !important;
  line-height: 42px !important;
  padding: 0 12px;
  display: block;
  border:0;
  float:left;
  outline:none;
}
.searchFilters button:hover {
  background-color: #9e0c0b; /*dark red*/
}
.dropdownContent {
  display:none;
}
.show {
  display:block !important;
}
.typeCheckbox, .bedsCheckbox, .sortCheckbox {
    margin: 5px 0 0;
    color:#191919;
}
.typeCheckbox input[type="checkbox"], .bedsCheckbox input[type="radio"], .sortCheckbox input[type="radio"] {
    margin: 0 5px 0 0;
}
.selectHolder, .searchTo {
  float:left; 
  width:40%;
}
.searchTo {
  width: 10% !important;
  text-align: center;
  padding-top: 5px;
}
.selectHolder select {
  width:100% !important;
}
.ddMoreFooter {
  width:100%;
  padding:10px 0;
  margin-top:10px;
  border-top:1px solid #ccc;
  float:left;
}


.col1-3 {
  width:33.333%;
  float:left;
}
.right {
  float:right !important; 
}

.resultsFilters {
    width: 100%;
    margin: 10px 0;
    float: left;
}
.resultsFilters .button {
    float: left;
}
#divFilters {
    float: left;
    padding: 0;
    margin: 0 5px;
    width:525px;
}
#divFilters .filter {
    background-color: #fff;
    border-radius: 2px;
    float: left;
    margin: 2px;
    padding: 0px 3px;
    border: 1px solid #ccc;
    font-size: 11px;
}
#divFilters .remove {
    background-color: #777777;
    border-radius: 28px;
    float: right;
    font-size: 8px;
    margin: 4px 0 0 10px;
    padding: 0px 4px;
    cursor: pointer;
    color: #fff;
    line-height: 13px;
}
#divFilters .remove:hover {
    background-color:#999;
}
.resultsSort {
  float:right;
  position:relative;
}
.btnSort, .btnMap, .btnPhoto, .btnGallery {
  border: 1px solid #ccc;
  padding: 5px 10px;
  float:left;
}
.btnSort:hover, .btnMap:hover, .btnPhoto:hover, .btnGallery:hover {
  background-color:#ececec;
  cursor:pointer;
}
.btnSort {
  margin-right:10px;
}
.btnMap {
  
}
.btnPhoto {
  border-right:0;
  border-left:0;
}
.btnGallery {
  
}
.selectedDisplay {
  background-color:#ececec !important; 
}
.mobileMenu {
  display:none;
  }
.modal.fade.in {
    display: block !important;
    z-index: 1000000 !important;
}
/* end search bar css */
/* mobile css */
@media (min-width: 0px) and (max-width: 699px) {
  .col1-3, .div1-3, .col2-3, div2-3, .div2-3, .div1-3 {
       width:100% !important;
    }
  .col1-4 {
      width:49% !important;
    	margin-left:1% !important;
    }
  .addressListingStatus, .addressPrice, .address2, .addressStatus, .addressUpdated, .addressID, .detailsAddress h1  {
    width: 100% !important;
    text-align:center !important;
  }
  .searchBar, .inputHolder, input.inputSearch {
    position: relative !important;
    width: 100% !important;
  }
  .ddSearchBy, .ddPrice, .ddType, .ddBeds, .ddBaths, .ddMore, .ddSearchResults, .ddSort {
    position: relative !important;
    left: 0 !important;
    width: 96% !important;
    padding: 2% !important;
    top:0 !important;
  }
  #divFilters {
    width:100% !important; 
  }
  .resultsSort, .searchBy {
    width: 96%;
    margin: 0 0 10px;
    padding: 2% !important;
	}
  .searchFilters {
    width:100% !important; 
  }
  .searchFilters button {
     width:100% !important;
     margin:5px 0 0;
  }
  .viewDetails {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    margin-left: 0 !important;
    display: inline-block !important;
    width: 100% !important;
    margin: 10px 0 !important;
	}
 .viewDetails a {
    width: 100% !important;
    float: left !important;
    padding: 5px 0 !important;
    text-align: center !important;
	}
  .mobileMenu {
    display:block !important; 
    position:relative;
    float:left;
    }
  .hideMobile {
    display:none;
    }
  .mobileMenu:hover .hideMobile {
  	display:block !important;  
  }
  .headerMenu {
    position:relative;
  }
  .headerMenu:hover .hideMobile {
    display:block !important;
    }
  .btnPhoto {
     display:none; 
  }
  .resultsFilters {
    float: right;
    margin: 0;
    width: auto !important;
	}
  .btnSort, .btnMap, .btnPhoto, .btnGallery {
    float:right;
  }
  .btnSort {
    margin-left: 10px !important;
    margin-right:0 !important;
	}
  .btnMap {
    border-left: 0 none;
	}
  .timestamp {
    float: left !important;
    position: relative !important;
    width: 100% !important;
	}
  .ddSort {
    left: inherit !important;
    position: absolute !important;
    right: 5px !important;
    top: 45px !important;
    width: 170px !important;
	}
  .ddSort:before {
    left:inherit !important;
    right:10px !important;
  }
.fa.fa-angle-left {
    margin-top: 0 !important;
    font-size: 15px;
}
.buttonBack.printHide > a {
    margin-top: 0 !important;
}
.buttonBack {
    width: 100% !important;
    position: relative !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    line-height: 0 !important;
    text-align: center;
    border: 0 !important;
}
.fa.fa-angle-left:after {
    content: "back to results";
    font-size: 14px;
    font-family: arial;
    margin: 0px 0 0 10px;
    display: inline-block;
}
  .addressListingStatus, .addressPrice, .addressStatus, .addressUpdated, .addressID, .address2 {
   	margin:0 0 5px 0 !important; 
  }
	.addressListingStatus {
    position: absolute;
    right: 0;
    top: 0;
    width: auto !important;
	}
  
}
/* end mobile css */