/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .i5DropDown:before{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: 10px;
  background: #fff;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  border-bottom-left-radius: 3px;
  border: 1px solid #c8c8c8;
  border-right: none;
  border-top: none;
}
.ddPropertyType, .ddMinPrice, .ddMaxPrice, .ddBeds, .ddBaths{ display: none; }
 .i5DropDown{
 	position: absolute;;
    width: 85%;
    margin: 0 15px;
    padding: 5px 10px;
    list-style-type: none;
    left: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    /* -webkit-animation: mymove .3s cubic-bezier(.215,.61,.355,1); */
    animation: mymove .3s cubic-bezier(.215,.61,.355,1);
    z-index: 1000;
 }
 .i5search-form label{ color:#ffffff; }
 .i5search-form ul{ padding: 0 0 5px 20px; margin: 0; }
 .i5search-form ul li { color:#191919; }
 .btn-space{
 	margin-top:5px !important;
 }
 .input-text{ margin: 0; color: #191919; }
 .show{ display: block !important; }

