﻿.detailsHeader {
  backface-visibility: hidden;
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px solid #C8C8C8;
  box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  z-index: 100;
  position:relative;
}
.detailsHeader .buttonBack {
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 0 10px;
  height: 130px;
  font-size: 30px;
}
.detailsHeader .buttonBack .fa {
  margin-top: 50px;
}
.detailsAddress h1 {
  margin-bottom:5px; 
  font-size:25px;
}
.addressListingStatus, .addressPrice, .addressStatus, .addressUpdated, .addressID {
    float: left;
    margin: 0 15px 0 0;
    text-transform: uppercase;
}
.shortSale {
  background-color:#00aed7; 
  padding:3px 8px;
}
.new {
  background-color: #fef568;
  color: #191919;
  padding:3px 8px;
}
.foreclosure {
  background-color:#f0a607;
  padding:3px 8px;
}
.success {
  color:#659f13; 
}
/* hiding sorting on details page */
.resultsSort {
    display: none !important;
}

.propertyImages {
 width:750px;
}
.detailsAddress.div2-3 {
    padding-left: 30px;
}
.div2-3, .div1-3 {
  float:left;
  width:66.666%;
}
.div1-3 {
  width:33.333%;
}

.div1-3.marginRight {
	width:31.333%;
  margin-right:2%;
}
.detailsFavorite, .detailsFavoriteSelected {
  float: left;
  width: 25%;
  display: inline-block !important;
  text-align: center;
  margin-bottom:10px;
}

.detailsFavorite .fa, .detailsFavoriteSelected .fa {
  font-size: 20px;
  color: #9e9e9e;
  border: 1px solid #999;
  padding: 8px;
  border-radius: 100%;
}
.detailsFavoriteSelected .fa {
    color: #CE1919;
}
.detailsShowing {
  float: left;
  width: 75%;
  display: inline-block;
  text-align: center;
}
.detailsShowing .btn-primary {
  width: 100% !important;
  display: inline-block;
  padding:8px 0 !important;
}
.detailsButtons {
  width: 100%;
  float: left;
  display: inline-block;
  position:relative;
}
.btnShare, .btnPrint, .btnShowMap {
  border: 1px solid #ccc;
  padding: 5px 0;
  float: right !important;
  width: 31.0%;
  text-align: center;
  margin: 0 !important;
}
a#btnMap {
    color: inherit !important;
}
.btnShare:hover, .btnPrint:hover, .btnShowMap:hover {
  background-color:#ececec;
  cursor:pointer;
}
.btnPrint {
  border-right:0;
  border-left:0;
}
.ddShare {
  position: absolute;
  top: 38px;
  width: 121px;
  list-style-type: none;
  left: 23px;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-animation: mymove .3s cubic-bezier(.215,.61,.355,1);
    animation: mymove .3s cubic-bezier(.215,.61,.355,1);
  z-index:100000;
}
.dropdownContent {
  display:none;
}
.show {
  display:block !important;
}
.detailsBody {
  width:100%;
  float:left;
  background-color:#fff !important;
  padding:10px 0 !important;
}
.detailsBox, .featuresBox {
  border:1px solid #ccc; 
  width:100%;
  float:left;
  margin-bottom:10px;
  border-radius:2px;
}
.featuresBox {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  font-size:13px;
}
.detailsPrice {
  text-align:center;
  padding:20px 0;
  color:inherit;
  font-size:32px;
  border-bottom:1px solid #ccc;
}
.detailsBeds, .detailsAcres, .detailsBaths, .details1-2Baths, .detailsSqft, .detailsPriceSqft {
  width:50%;
  text-align:center;
  border-bottom:1px solid #ccc;
  float:left;
  padding:8px 0;
}
.detailsAcres {
  border-bottom:1px solid #ccc;
  width:49.7%;
  border-left:1px solid #ccc
}
.detailsBaths {
  border-bottom:1px solid #ccc;
}
.details1-2Baths {
  border-bottom:1px solid #ccc;
  width:49.7%;
  border-left:1px solid #ccc
}
.detailsSqft {
  border-bottom:1px solid #ccc;
}
.detailsPriceSqft {
  border-bottom:1px solid #ccc;
  width:49.7%;
  border-left:1px solid #ccc
}
.detailsValue {
  font-size: 20px;
  line-height: 30px;
}
.detailsLabel {
  font-size: 12px;
  text-transform:uppercase;
}
.detailsSpecs {
  width: 100%;
  float: left;
  padding: 0;
  font-size:13px;
}
.specsLabel, .specsValue {
  float: left;
  margin-bottom: 0;
  padding: 1%;
}
.specsLabel {
  width:40%;
  font-weight:bold;
}
.specsValue {
  width:60%;
  text-align:right;
  white-space:nowrap;
}
.detailsSpecs div:nth-child(1), 
.detailsSpecs div:nth-child(2), 
.detailsSpecs div:nth-child(5), 
.detailsSpecs div:nth-child(6),
.detailsSpecs div:nth-child(9), 
.detailsSpecs div:nth-child(10), 
.detailsSpecs div:nth-child(13), 
.detailsSpecs div:nth-child(14){
    background-color: #f2f2f2;
}
.headerSchoolInfo {
  width:100%;
  padding:15px 0;
  text-align:center;
  font-size:25px;
}
.featuresHolder, .relatedProperties {
  width:100%;
  float:left;
  margin:10px 0;
  padding:0 15px;
}
.featuresHeader, .detailsDescriptionHeader, .relatedHeader{
  font-size:24px;
  padding:10px 0;
  border-bottom:1px solid #ccc;
  margin-bottom:10px;
}
.relatedHeader {
  text-align:center;
  }
.detailsFeaturesLabel, .detailsFeaturesValue {
  float:left;
  padding: 5px 2% 5px 2%;
  border-bottom: 1px solid #ccc;
}
.detailsFeaturesLabel {
  width:40%;
}
.detailsFeaturesValue {
  width: 60%;
  border-left: 1px solid #ccc;
  float: left;
}
.featuresBox div:nth-child(3), 
.featuresBox div:nth-child(4), 
.featuresBox div:nth-child(7), 
.featuresBox div:nth-child(8),
.featuresBox div:nth-child(11), 
.featuresBox div:nth-child(12), 
.featuresBox div:nth-child(15), 
.featuresBox div:nth-child(16),
.featuresBox div:nth-child(19), 
.featuresBox div:nth-child(20), 
.featuresBox div:nth-child(23), 
.featuresBox div:nth-child(24),
.featuresBox div:nth-child(27), 
.featuresBox div:nth-child(28), 
.featuresBox div:nth-child(31), 
.featuresBox div:nth-child(32),
.featuresBox div:nth-child(35), 
.featuresBox div:nth-child(36), 
.featuresBox div:nth-child(39), 
.featuresBox div:nth-child(40){
  background-color:#f2f2f2;
}
.detailsMap {
  width:100%;
  float:left;
}
.detailsDescriptionHolder {
  width:100%;
  float:left;
  padding:0 15px;
}
.detailsDescriptionHolder .div2-3 {
    width: 64.333%;
    margin-right: 2.333% !important;
}
.agentTile {
  width:98%;
  padding:1%;
  float:left;
  background-color:#fff;
  border:1px solid #ccc;
}
.slick-slide img {
    max-width: 750px;
	width:100%;
}
.col1-4 {
  width:25%;
  float:left;
}
.col1-2 {
  width:50%;
  float:left;
}
.col1-1 {
  width:100%;
  float:left;
}
.padding10 {
  padding:10px;
}
.agentTitle {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}
.agentPhone a {
  -webkit-appearance: none;
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 12px;
  background: #fbfbfb;
  vertical-align: middle;
  line-height: 38px;
  min-height: 40px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  text-shadow: 0 1px 0 rgba(255,255,255,0);
  box-shadow: 0 1px 1px rgba(0,0,0,.1),inset 0 -2px 2px -1px rgba(0,0,0,.1)!important;
  border-color: rgba(0,0,0,.2);
  border-bottom-color: rgba(0,0,0,.25); 
  width:100%;
}
.agentPhone a:hover {
  background-color:#ececec; 
}
.miniMap {
  position: relative;
  height: 150px;
  overflow: hidden;
  margin-bottom: 15px; 
}
.miniMap img {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: none;
}
.red {
  color:#CE1919 !important; 
}
address {
    background-color: transparent !important;
    text-align: center !important;
    border: 0 !important;
    color: inherit !important;
}
.listing {
  box-shadow: inset 0 0 2px #999;
  float: left;
  padding: 10px;
  position:relative;
}
.listing:hover {
  box-shadow: 0 0 4px #333;
  cursor: -webkit-zoom-in;
}
.listingImage {
  width:100%;
  float:left;
  height:215px;
  overflow:hidden;
  margin-bottom:20px;
}
.listingImage img {
  width:100%;
}
.listingAddress {
  float:left;
  font-size:12px;
}
.listingPrice {
  color: #659f13;
  font-size: 25px;
  line-height: 1.25;
  float:left;
  clear:left;
  font-weight:normal;
  margin-bottom:20px;
}
.listingFavorite, .listingFavoriteSelected {
  float:right; 
}
.listingFavorite .fa, .listingFavoriteSelected .fa {
  font-size: 20px;
  color: #9e9e9e;
  border: 1px solid #999;
  padding: 8px;
  border-radius: 100%;
}
.listingFavoriteSelected .fa {
  color:#CE1919; 
}
.listingFavorite .fa:hover, .listingFavoriteSelected .fa:hover {
  background-color:#ececec;
}
.listingBeds, .listingBaths, .listingSqft, .listingAcres {
  width:100%;
  float:left;
  padding-bottom:5px;
  border-bottom:1px solid #ccc;
  margin-bottom:5px;
}
.bedsValue, .bathsValue, .sqftValue, .acresValue {
  float:right;
}
.listingStatus {
  position:absolute;
  left:10px;
  top:20px;
  text-transform:uppercase;
  font-size:12px;
  color:#fff;
}
.listingStatus .shortSale {
  background-color:#00aed7; 
  padding:3px 8px;
}
.listingStatus .new {
  background-color: #fef568;
  color: #191919;
  padding:3px 8px;
}
.listingStatus .foreclosure {
  background-color:#f0a607;
  padding:3px 8px;
}
.viewDetails {
  position:absolute;
  top:100px;
  left:50%;
  margin-left:-60px;
  display:none;
}
.listing:hover .viewDetails {
  display:block;
}
.viewDetails a {
  background-color:#333;
  padding:5px 10px;
  color:#fff;
  font-size:18px;
}
.viewDetails a:hover {
  background-color:#111;
  color:#fff !important;

}
.owl-item {
    width: 285px !important;
}
.carousel {
  width:1170px !important;
}
.owl-prev, .owl-next {
   color:Transparent; 
   float:left;
}
.owl-next {
 
   float:right;
}
.owl-prev, .owl-next {
    color: transparent;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 100%;
    float: left;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 29px;
    padding: 10px;
  margin:0 5px;
}
.owl-prev:hover, .owl-next:hover {
    background-color:#ececec;
}
.owl-prev:before{
    content: "◀";
    color: #555;
    float: left;
    margin-top: -3px;
    margin-left: 12px;
}
.owl-next:before {
    content: "▶";
    color: #555;
    float: left;
	margin-top: -3px;
    margin-left: 20px;
}
.owl-nav {
    text-align: center;
    width: 150px;
    margin: 10px auto;
}
.owl-nav div{ height:60px !important; width:60px !important; }
.owl-nav .owl-prev { left: -80px !important; }
.owl-nav .owl-next { right: -80px !important; }
.Disclaimer {
    width: 100%;
    float: left;
}
div.wpcf7 .wpcf7-form-control-wrap.hidden-msgTo, div.wpcf7 .wpcf7-form-control-wrap.hidden-255{ display:none !important; }
/* mobile css */
@media (min-width: 0px) and (max-width: 699px) {
  .col1-3, .div1-3, .col2-3, div2-3, .div2-3, .div1-3, .col1-4, .col1-2 {
       width:100% !important;
    	margin:0 !important;
    }
  .propertyImages {
    width:100% !important;
  }
  .container {
    padding: 0 2% !important;
    width: 96% !important;
	}
  .relatedProperties {
    display:none !important;
  }
  .slick-track, .slick-slide {
    width:100% !important;
	}
  .slick-slide img {
    display: block;
    width: 100%;
	}
  .detailsForm .col1-4 {
    width: 100% !important;
    margin-left: 0 !important;
	}
  .wpcf7 input[type="number"], .wpcf7 input[type="date"], .wpcf7 input[type="number"], .wpcf7 input[type="tel"], .wpcf7 input[type="url"], .wpcf7 input[type="email"], .wpcf7 input[type="text"], .wpcf7 select, .wpcf7 textarea {
    width: 100% !important;
	}
}