.main-area{
    width: 100%;
    box-sizing: inherit;
    font-size: 15px;
    background: #ffffff;
}
.listing-area{
    width: 100%;
}
.listing-sidebar{
    width: 25%;
    background: #ffffff;
    overflow-y: scroll;
    box-shadow: 1px 0 5px 0 rgba(103,103,103,.46);
    max-height: 500px;
    float: left;
    height: 500px;
}
.map-container{
    width: 75%;
    float: right;
}

/* Input Wrapper */
.input-bar{
    z-index: 300;
    top: 60px;
    display: flex;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
    width: 100%;
    height: 52px;
    background-color: #fff;
    align-items: center;
    flex-shrink: 0;
}
.input-bar .autocomplete-input{
    display: inline-block;
    width: 25%;
    padding: 9px 8px;
    border-right: 1px solid #dedede;
}
.input-bar .autocomplete-input input[type='text']{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    width: 70%;
    font-size: 16px;
    height: 34px;
    line-height: 1em;
    border-radius: 2px;
    vertical-align: top;
    outline: 0;
    margin: 0;
    float: left;
}
.input-bar .autocomplete-input button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 27%;
    padding: inherit;
    background: #555555;
    color: #fff;
    font-size: 16px;
    height: 34px;
    line-height: 1em;
    border-radius: 2px;
    -moz-border-radius:2px;
    -webkit-border-radius: 2px;
    vertical-align: top;
    outline: 0;
    border: none !important;
}
.animate-show.ng-hide-add, .animate-show.ng-hide-remove{
    height: 96px;
    width: 144px;
}
#pagi_block{
    height: 36px;
    width: 100%;
    border: 1px solid #dedede;
    z-index: 1;
}
#pagi_block .prev{
    border-right: 2px solid #dedede;
    display: inline-block;
    float: left;
    height: 36px;
    padding: 10px;
    width: 15%;
    cursor: pointer;
    border: 0;
}
#pagi_block .next{
    border-left: 2px solid #dedede;
    display: inline-block;
    float: right;
    height: 36px;
    padding: 10px;
    width: 13%;
    cursor: pointer;
    border: 0;
}
#pagi_block span{
    display: inline-block;
    height: 36px;
    padding: 4px 0;
    text-align: center;
    width: 70%;
}
.drop-down {
    display: inline-block;
    height: 52px;
    border-right: 1px solid #dedede;
    background-color: #fff;
    min-width: 10%;
}
.drop-down label {
    display: inline-block;
    line-height: 52px;
    padding: 0 1em;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
}
/*.drop-down:hover label {
    color: #555555;
}*/
.reset-search{
    min-width: 15%;
}
.reset-search label{
    padding: 0 1em;
    font-size: 13px !important;
    font-weight: bold;
    cursor: pointer;
}
.save-search{
    min-width: 18%;
}
button.secondary {
    border: 1px solid #555555;
    color: #555555;
    background: #ffffff;
    height: 34px;
    line-height: 34px;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    line-height: 1em;
    float: right;
    font-size: 15px !important;
    cursor: pointer;
}
.select-option label{
    font-size: 14px;
    width: 42%;
    cursor: default;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    text-align: left;
    vertical-align: top;
    display: inline-block;
}
.select-option{
    margin-top: 2px;
}
.select-option select.sort-by{
    font-size: 14px;
    width: 55%;
    padding-right: 0;
    border: 0;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    text-align: left;
    vertical-align: top;
    color: #555555;
    cursor: pointer;
 }
.select-option{
    width: 100%;
    padding: 7px;
    border-bottom: 1px solid #dedede;
}
.listing{
    width: 100%;
    padding: 9px 7px 13px 7px;
    border-bottom: 1px solid #dedede;
}
.listing:hover{
    background: #eeeff1
;
}
.image-wrapper{
    width: 144px;
    height: 96px;
    float: left;
}
.listing-info {
    display: inline-block;
    margin: -5px 5px;
    vertical-align: top;
}
.listing-info .listing-street,  .listing-info .listing-price{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 600;
}
.listing-info .listing-price{
    color: #555555;
}
.listing-info .listing-sqft {
    font-size: 13px;
    color: #5a5c65;
}
.listing-info .listing-added-date {
    font-size: 10px;
    margin-top: 0em;
    color: #636670;
    font-style: italic;
}
.panel section{
    border-bottom: 1px solid #dedede;
    margin-bottom: 10px;
}
.panel section header {
    font-size: 11px;
    margin-bottom: 1.2em;
    color: #bebebe;
    text-transform: uppercase;
}
.drop-down .panel label{ padding: 0; }
.drop-down .panel{
    border-top: 1px solid #dedede;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
    min-width: 150px;
    background-color: #fff;
    position: absolute;
    padding: 0.5em;
    font-size: 13px !important;
    z-index: 1;
    -webkit-transition: -webkit-transform,.4s;
    -moz-transition: -moz-transform,.4s;
    transition: transform,.4s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.drop-down .panel.ng-hide{
    opacity: 0;
    -webkit-transition: -webkit-transform,.4s;
    -moz-transition: -moz-transform,.4s;
    transition: transform,.4s;
    -webkit-transform: translate3d(0,-20px,0);
    -moz-transform: translate3d(0,-20px,0);
    -ms-transform: translate3d(0,-20px,0);
    -o-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
}

.animate-enter,
.animate-leave
{
    -webkit-transition: 625ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 625ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 625ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 625ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 625ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 1s;
    display: block !important;
}

.animate-show.ng-hide-add.ng-hide-add-active, .animate-show.ng-hide-remove {
    opacity: 0;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
.loading{
    position: relative;
    top: 0%;
    left: 25%;
    width: 125px;
    margin: 5px 0;
}
.loading-map{
    position: relative;
    top: 0px;
    left: 50%;
    width: 25px;
    margin: 5px 0;
}
.price.drop-down .panel{
     width: 205px;
 }
.more-option.drop-down .panel{
      width: 275px;
  }
.drop-down .panel #number{
    width: 43%;
    height: 30px;
    padding: 0 .5em;
    border: 1px solid #dedede;
    border-radius: 2px;
    background-color: #fff;
}
.section-content .sqrt-control,.section-content .select-field,.section-content .checkbox-input {
    margin: 5px 0;
}
.sqrt-control{
    width: 100%;
}
.sqrt-control label{
    width: 38%;
    line-height: 30px;
}
.sqrt-control-group{
    width: 60%;
    display: inline-block;
}
.select-field label{
    width: 38%;
    line-height: 30px;
}
.section-content label{
    line-height: 30px;
}
.select-field label.house-filter{
    width:auto !important;
}
.select-field input#listed-since, .select-field select{
    width: 59% !important;
    display: inline-block;
    height: 30px;
    padding: 0 .5em;
    border: 1px solid #dedede;
    border-radius: 2px;
    background-color: #fff;
}

.sqrt-control-group input{
    width: 43%;
    height: 30px;
    padding: 0 .5em;
    border: 1px solid #dedede;
    border-radius: 2px;
    background-color: #fff;
}
.drop-down .panel select{
    width: 100%;
}
.min-price-options span{
    display: block;
    line-height: 2em;
}
.max-price-options span{
    display: block;
    line-height: 2em;
    text-align: right;
}
.hidden{
    display: none;
}


.checkbox-input label{
    font-size: 13px;
    display: block;
    line-height: 30px;
}
.checkbox-input input{
    margin-right: 5px;
}
.checkbox-input label:hover{
    color: #555555;
}

.gm-style-iw{
    width: 260px !important;
    overflow-y: scroll !important;
    max-height: 250px;
}
.gm-style-iw .listing-info .listing-street, .gm-style-iw .listing-info .listing-price{
    font-size: 11px !important;
}
.gm-style-iw + div {display: none;}
.gm-style-iw .listing {
    padding: 5px;
    border-bottom: none !important;
}
.listing .favorite {
    float: right;
    font-size: 20px;
}
.show-info{ position: absolute; width: 200px; z-index: 900; }
.red i.fa{ color: #CE1919 !important; }
.listing .favorite a{ cursor: pointer; }
.gm-style-iw .image-wrapper {
    width: 105px;
    height: 70px;
    float: left;
}
.gm-style-iw div:first-child{
    overflow: hidden !important;
    max-width: 100% !important;
    max-height: 100% !important;
}
.gm-style-iw .image-wrapper img{
    width: 100%;
}

#map-container {
    border-width: 1px;
    border-color: #ccc #ccc #999 #ccc;
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
    width: 100%;
}
#map {
    width: 100%;
    height: 500px;
}
.fa{
    color: #555555;
}
