
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="js/markerclusterer2.js"></script>

<div id="carto" style="width:700px;height:700px;"></div>
<script>
    jQuery(document).ready(function() {
        var markers = [];
        var markerClusterer = null;
        var nom_offre = [];

        var bulle = 0;
        var infowindow = new google.maps.InfoWindow();
        if (markerClusterer) {
            markerClusterer.clearMarkers();
        }

        var styles = [[{
            url: 'img/puce_carte.png',
            height: 28,
            width: 20,
            opt_anchor: [3, 0],
            opt_textColor: '#0071bc',
            opt_textSize: 10
        }, {
            url: 'img/puce_carte_accueil.png',
            height: 36,
            width: 26,
            opt_anchor: [9, 0],
            opt_textColor: '#0071bc',
            opt_textSize: 20
        },
            {
                url: 'img/puce_carte_accueil.png',
                height: 36,
                width: 26,
                opt_anchor: [100, 0],
                opt_textColor: '#0071bc',
                opt_textSize: 30
            }]];
        var centerCoord = new google.maps.LatLng(48.216306, -4.057568);
        var mapOptions = {
            zoom: 9,
            center: centerCoord,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("carto"), mapOptions);

        google.maps.event.addListener(map, 'click', function(){
            //infowindow.close();
        });

        var imageUrl = 'http://www.presquileinfos.fr/img/puce_carte.png';
        var markerImage = new google.maps.MarkerImage(imageUrl, new google.maps.Size(36, 26));
        //Lancement au chargement de la page
        jQuery.ajax({
            type: "POST",
            url: 'ajax_carto.php',
            dataType: 'json',
            data: "data=fr",
            async: false,

            success: function(data){
                jQuery.each(data.places, function(i, item){
                    var icon = 'img/puce_carte.png';
                    var id = item.id;
                    var html = '<div class="infobulle2"><div class="cache_img_carto"><a href="#">'+item.image+'</a></div><div class="info_bulle_titre">'+item.titre+'</div><p style="line-height:14px;font-size:11px">'+item.image+'</p><div>';
                    var marker = new google.maps.Marker({
                        html : html,
                        title:item.titre,
                        position: new google.maps.LatLng(item.lat, item.lng),
                        icon: icon,
                        id:id

                    });

                    markers.push(marker), bindInfoBubble(marker, map, html);
                    //markers.push(marker);
                    function bindInfoBubble(marker, map, html) {
                        google.maps.event.addListener(marker, 'click', function() {
                            infowindow.setContent(html);

                            infowindow.open(map,marker);

                        });
                    }

                });


                var clusterOptions = {
                    zoomOnClick: false,
                    gridSize: 60,
                    styles: styles[0]
                }
                var markerClusterer = new MarkerClusterer(map, markers, clusterOptions);

                google.maps.event.addListener(markerClusterer, 'clusterclick', function(cluster){

                    var content ='';
                    var clickedMarkers = cluster.getMarkers();

                    for (var i = 0; i < clickedMarkers.length; i++) {
                        if(i==0){
                            var var_pos = clickedMarkers[i];

                        }
                        var html = clickedMarkers[i].html;
                        content +=html;
                    }

                    infowindow.setContent(content);
                    infowindow.open(map,var_pos);
                    bulle=1;
                });




            }
        });

    });


</script>