﻿.searchHeader {
  backface-visibility: hidden;
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px solid #C8C8C8;
  box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  z-index: 1000;
}
.container {
  display: table;
  margin: 0 auto;
  max-width: 1350px;
  padding: 0 15px;
  width: 100%;
}
.searchLogo {
  float:left;
  padding-right:10px;
}
.searchLogo img {
  max-width:250px;
}
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
/* search bar css */
.searchBar {
  float:left;
  position: relative;
  width:788px;
}
.searchBy {
  text-transform: uppercase;
  padding: 10px 10px;
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.searchBy:hover {
  background-color:#ececec;
}
@-webkit-keyframes mymove {
0% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}
@keyframes mymove
0% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.ddSearchBy, .ddPrice, .ddType, .ddBeds, .ddBaths, .ddMore, .ddSearchResults {
  position: absolute;
  top: 45px;
  width: 150px;
  list-style-type: none;
  left: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-animation: mymove .3s cubic-bezier(.215,.61,.355,1);
    animation: mymove .3s cubic-bezier(.215,.61,.355,1);
  z-index:1000;
}
.ddType {
  width: 175px;
  padding: 10px;
  left:75px;
}
.ddBeds {
  left:150px;
  padding: 10px;
  width:130px;
}
.ddBaths {
	width:130px;
  left:225px;
  padding: 10px;
}
.ddMore {

  left: initial;
  padding: 10px;
  width: 759px;
  right: 0 !important;
}
.ddSearchResults {
  left: 120px;
  width: 646px;
  padding:10px;
}
.ddSearchBy:before, .ddPrice:before, .ddType:before, .ddBeds:before, .ddBaths:before, .ddMore:before, .ddSearchResults:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: 10px;
  background: #fff;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  border-bottom-left-radius: 3px;
  border: 1px solid #c8c8c8;
  border-right: none;
  border-top: none;

}
.ddMore:before {
  right:10px !important; 
  left:initial;
}
.ulPrice, .ulSearchBy, .ulType, .ulBeds, .ulBaths, .ulMore, .ulSearchResults {
  padding-top:15px;
}
.searchHeader ul {
  margin: 0 !important;
  list-style-type: none !important
}
.ulSearchBy a, .ddPrice li, .ulSearchResults li a {
  display:block;
  color:#191919;
  padding:5px 10px;
}
.ulSearchBy a:hover, .ddPrice li:hover, .ulSearchResults li a:hover {
  color:#fff !important;
  background-color:#bd0c0b; /*red*/
}
.ddSearchResults {
  display:none;
}
input.inputSearch {
  padding: 10px 5px !important;
  height: 42px !important;
  display: inline-block;
  margin: 0 !important;
  margin-top: -2px !important;
  width: 668px !important;
}
.input.inputSeach:focus label {
  display:none;
}
.lblSearch {
  display: block;
  margin: 0;
  position: absolute;
  top: 7px;
  left: 10px;
  color: #bbb !important;
  cursor: inherit;
}
.inputHolder {
    display:inline-block;
    position:relative;
}
.searchFilters {
  float:left;
  position:relative;
}

.searchFilters button {
  color: #fff !important;
  background-color: #bd0c0b;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  min-height: 42px !important;
  line-height: 42px !important;
  padding: 0 12px;
  display: block;
  border:0;
  float:left;
  outline:none;
}
.searchFilters button:hover {
  background-color: #9e0c0b; /*dark red*/
}
.dropdownContent {
  display:none;
}
.show {
  display:block !important;
}
.typeCheckbox, .bedsCheckbox {
    margin: 5px 0 0;
    color:#191919;
}
.typeCheckbox input[type="checkbox"], .bedsCheckbox input[type="checkbox"] {
    margin: 0 5px 0 0;
}
.selectHolder, .searchTo {
  float:left; 
  width:40%;
}
.searchTo {
  width: 10% !important;
  text-align: center;
  padding-top: 5px;
}
.selectHolder select {
  width:100% !important;
}
.ddMoreFooter {
  width:100%;
  padding:10px 0;
  margin-top:10px;
  border-top:1px solid #ccc;
  float:left;
}

/* end search bar css */
.col1-3 {
  width:33.333%;
  float:left;
}
.col1-3.margin-right {
  width:31.333% !important;
  float:left !important;
  margin-right:2% !important;
}
.col2-3 {
  width:66.666%;
  float:left;
}
.col1-4 {
  width:25%;
  float:left;
}
.col1-2 {
  width:50%;
  float:left;
}
.right {
  float:right !important; 
}
/* search results */
.searchResults {
  width:100%;
  float:left;
  background-color: #fff;
}
.searchResultsHeader {
  width:100%;
  float:left;
  text-align:center;
  font-size:20px;
  margin:15px 0;
}
.searchResults .col1-4 {
  width:24.5%; 
  margin-left:0.5%;
  float:left;
  margin-bottom:10px;
}
.listing {
  box-shadow: inset 0 0 2px #999;
  float: left;
  padding: 10px;
  position:relative;
}
.listing:hover {
  box-shadow: 0 0 4px #bd0c0b;
  cursor: -webkit-zoom-in;
}
.listingImage {
  width:100%;
  float:left;
  height:215px;
  overflow:hidden;
  margin-bottom:20px;
}
.listingImage img {
  width:100%;
}
.listingAddress {
  float:left;
  font-size:12px;
}
.listingPrice {
  color: #659f13;
  font-size: 25px;
  line-height: 1.25;
  float:left;
  clear:left;
  font-weight:normal;
  margin-bottom:20px;
}
.listingFavorite, .listingFavoriteSelected {
  float:right; 
}
.listingFavorite .fa, .listingFavoriteSelected .fa {
  font-size: 20px;
  color: #9e9e9e;
  border: 1px solid #999;
  padding: 8px;
  border-radius: 100%;
}
.listingFavoriteSelected .fa {
  color:#CE1919; 
}
.listingFavorite .fa:hover, .listingFavoriteSelected .fa:hover {
  background-color:#ececec;
}
.listingBeds, .listingBaths, .listingSqft, .listingAcres {
  width:100%;
  float:left;
  padding-bottom:5px;
  border-bottom:1px solid #ccc;
  margin-bottom:5px;
}
.bedsValue, .bathsValue, .sqftValue, .acresValue {
  float:right;
}
.listingStatus {
  position:absolute;
  left:10px;
  top:20px;
  text-transform:uppercase;
  font-size:12px;
  color:#fff;
}
.listingStatus .shortSale {
  background-color:#00aed7; 
  padding:3px 8px;
}
.listingStatus .new {
  background-color: #fef568;
  color: #191919;
  padding:3px 8px;
}
.listingStatus .foreclosure {
  background-color:#f0a607;
  padding:3px 8px;
}
.viewDetails {
  position:absolute;
  top:100px;
  left:50%;
  margin-left:-60px;
  display:none;
}
.listing:hover .viewDetails {
  display:block;
}
.viewDetails a {
  background-color:#bd0c0b;
  padding:5px 10px;
  color:#fff;
  font-size:18px;
}
.viewDetails a:hover {
  background-color:#9e0c0b;
  color:#fff !important;

}
.resultsFilters {
    width: 100%;
    margin: 10px 0;
    float: left;
}
.resultsFilters .button {
    float: left;
}
#divFilters {
    float: left;
    padding: 0;
    margin: 0 5px;
    width:525px;
}
#divFilters .filter {
    background-color: #fff;
    border-radius: 2px;
    float: left;
    margin: 2px;
    padding: 0px 3px;
    border: 1px solid #ccc;
    font-size: 11px;
}
#divFilters .remove {
    background-color: #777777;
    border-radius: 28px;
    float: right;
    font-size: 8px;
    margin: 4px 0 0 10px;
    padding: 0px 4px;
    cursor: pointer;
    color: #fff;
    line-height: 13px;
}
#divFilters .remove:hover {
    background-color:#999;
}
.resultsSort {
  float:right;
}
.btnSort, .btnMap, .btnPhoto, .btnGallery {
  border: 1px solid #ccc;
  padding: 5px 10px;
  float:left;
}
.btnSort:hover, .btnMap:hover, .btnPhoto:hover, .btnGallery:hover {
  background-color:#ececec;
  cursor:pointer;
}
.btnSort {
  margin-right:10px;
}
.btnMap {
  
}
.btnPhoto {
  border-right:0;
  border-left:0;
}
.btnGallery {
  
}
.pagi {
    float: left;
    padding: 0px 0%;
    width: 100%;
    font-size: 11px;
    margin:10px 0;
}
.pagi-left {
    float: left;
}
.pagi-right {
    float: right;
}
.pagi-right a {
    background-color: #ececec;
    margin: 0 0 0 5px;
    padding: 5px 10px;
}
.pagi-right a:hover {
    background-color: #ccc;
}
.pagi-right a:empty {
    display:none;
}
.pagi-right .active {
    background-color: #CE1919;
    color: #FFFFFF !important;
}
/* end search results */

/* photo layout css */
.photoLayout {
  width:100%;
  float:left;
}
.listingSidebar {
  border: 1px solid #ccc;
  width: 100%;
  float: left;
  margin-bottom: 10px;
  border-radius: 2px;
  height:575px;
  overflow-y:auto;
}
.listingBox {
  border: 1px solid #ccc;
  width: 96%;
  float: left;
  margin-bottom: 10px;
  border-radius: 2px;
  padding:2%;
}
.listingBox h1 {
    margin-bottom: 5px;
    font-size: 25px;
}
.listingWrapper {
  width:96%;
  padding:2%;
  float:left;
  border-bottom:1px solid #ccc;
  margin-bottom:10px;
}
.listingSidebar .listingPhoto, .listingSidebar .listingDetails {
  position:relative;
  width:55%;
  float:left;

}
.listingSidebar .listingPhoto {
  width:43%;
  padding-right:2%;

}
.listingSidebar .listingPrice {
  font-size:20px;
	margin-bottom: 10px;
}
.listingSpecs {
  width:100%;
  float:left;
}
.listingPhoto .listingStatus {
  left:0;
  top:0;
}
.listingDetailsBox {
  border:1px solid #ccc; 
  width:100%;
  float:left;
  margin-bottom:10px;
  border-radius:2px;
}
.listingDetailsPrice {
  text-align:center;
  padding:20px 0;
  color:#bd0c0b!important;
  font-size:32px;
  border-bottom:1px solid #ccc;
}
.listingDetailsBeds, .listingDetailsAcres, .listingDetailsBaths, .listingDetails1-2Baths, .listingDetailsSqft, .listingDetailsPriceSqft {
  width:50%;
  text-align:center;
  border-bottom:1px solid #ccc;
  float:left;
  padding:8px 0;
}
.listingDetailsAcres {
  border-bottom:1px solid #ccc;
  width:49.6%;
  border-left:1px solid #ccc
}
.listingDetailsBaths {
  border-bottom:1px solid #ccc;
}
.listingDetails1-2Baths {
  border-bottom:1px solid #ccc;
  width:49.6%;
  border-left:1px solid #ccc
}
.listingDetailsSqft {
  border-bottom:1px solid #ccc;
}
.listingDetailsPriceSqft {
  border-bottom:1px solid #ccc;
  width:49.6%;
  border-left:1px solid #ccc
}
.listingDetailsValue {
  font-size: 20px;
  line-height: 30px;
}
.listingDetailsLabel {
  font-size: 12px;
  text-transform:uppercase;
}
.listingDetailsSpecs {
  width: 100%;
  float: left;
  padding: 0;
}
.specsLabel, .specsValue {
  float: left;
  margin-bottom: 0;
  padding: 1%;
}
.specsLabel {
  width:38%;
  font-weight:bold;
}
.specsValue {
  width:58%;
  text-align:right;
}
.listingDetailsSpecs div:nth-child(1), 
.listingDetailsSpecs div:nth-child(2), 
.listingDetailsSpecs div:nth-child(5), 
.listingDetailsSpecs div:nth-child(6),
.listingDetailsSpecs div:nth-child(9), 
.listingDetailsSpecs div:nth-child(10), 
.listingDetailsSpecs div:nth-child(13), 
.listingDetailsSpecs div:nth-child(14){
    background-color: #f2f2f2;
}
.fullButton {
  width:100% !important; 
}
.sticky-wrapper.is-sticky {
  width:31.333% !important; 
  margin-right:2% !important;;
}
.sticky-wraper.is-sticky {
    width: 31.333% !important;
}
div#sticky-wrapper {
    width: 31.333% !important;
    display: table-cell;
    vertical-align: top;
    margin-right: 2% !important;
}
.sticky-wrapper .col1-3 {
  float:none !important;
  width:96% !important;
  padding-right:2%;
}
.photoLayout .col2-3 {
  display:table-cell !important;
  float:none !important;
  }
.sticky-wrapper.is-sticky .col1-3.margin-right {
    width: 358px !important;
    float: left !important;
    margin-right: 2% !important;
}
.listingPhotos {
  display:table-cell;
  width:66.666%;
  }
.listingDetailsContainer {
  display:table-cell;
  float:none;
  width:33.333%;
  }
/* end photo layout csss */
/* map layout csss */

.markerLabel {
  background-color:#fff;
  padding:0 3px;
  color:#bd0c0b;
  font-size:10px;
  left:-50%;
  position:absolute;
  border-radius:2px;
}
.mapListingHolder .listingPhoto, .mapListingHolder .listingDetails {
    width: 50%;
    float: left;
}
.mapListingHolder .listingPhoto img {
    width: 100%;
    max-width:170px;
}
.mapListingHolder .listingPrice {
    font-size: 20px;
    font-weight:normal !important;
}
span.number {
    font-weight: bold;
}
.mapListingHolder .listingPrice .number {
    font-weight:normal !important;
}
.mapListingHolder .listingUrl a {
    color: #fff;
    background-color: #ce1919;
    padding: 4px 10px;
    border-radius: 2px;
    margin: 5px 0 0;
    display: inline-block;
}
.mapListingHolder .listingUrl a:hover {
    background-color: #9e0c0b;
}
/* end map layout css */
/* mobile css */
@media (min-width: 0px) and (max-width: 699px) {
  .col1-3, .div1-3, .col2-3, div2-3 {
    width:100% !important;
  }
 .searchResults .col1-4 {
    width:49% !important;
    margin-left:1% !important;
  }
}