.searchHeader {
	display:none !important;
}
.detailsHeader {
  backface-visibility: hidden;
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 15px 0;
  z-index: 100;
  position:relative;
  border-bottom:1px solid #ccc;
  
}
.detailsHeader .buttonBack {
    position: absolute;
    left: 0px;
    top: 0 !important;
    border-right: 0;
    padding: 0 10px;
    height: 83px;
    font-size: 14px;
    background-color: #ececec;
    padding: 5px 10px;
    border-radius: 0px;
    transition-property: background, width;
  transition-duration: .5s;
  transition-timing-function: linear;
}
.detailsHeader .buttonBack .fa.fa-angle-left {
    margin-top: 30px;
}
.detailsHeader .buttonBack:hover {
	cursor:pointer;
	background-color:ccc;
}
.detailsHeader .buttonBack:hover .fa:after {
	content:" back to search results";
	font-family:Arial;
	cursor:pointer;
}
.detailsAddress h1 {
    font-size: 20px;
    font-weight: normal;
    line-height: 24px !important;
    margin: 0;
}
.detialsPpsqft {
    font-size: 18px;
    margin: 25px 0 0;
}
.addressListingStatus, .addressPrice, .addressStatus, .addressUpdated, .addressID {
    float: left;
    margin: 0 15px 0 0;
    text-transform: uppercase;
}
.shortSale {
  background-color:#00aed7; 
  padding:3px 8px;
}
.new {
  background-color: #fef568;
  color: #191919;
  padding:3px 8px;
}
.foreclosure {
  background-color:#f0a607;
  padding:3px 8px;
}
.success {
  color:#659f13; 
}
.statusActive, .statusSold, .statusUnderContract {
	width:15px;
	height:15px;
	float:left;
	margin:4px 5px 0 0;
	border:2px solid #fff;
	border-radius:100%;
	background-color:#15af01;
}
.statusSold {
	background-color:#d63d28;
}
.statusUnderContract {
	background-color:#eee92c;
}
.listingStatus .shortSale {
  background-color:#00aed7; 
  padding:3px 8px;
}
/* hiding sorting on details page */
.resultsSort {
    display: none !important;
}
.detailsBody .div2-3.propertyHolder {
	background-color:#f9f9f9;
	width:66.666%;
	padding:2% !important;
	margin:0 !important;
}
.propertyImages {
 width:717px;
}
.div2-3, .div1-3, .div1-2, .div1-4 {
  float:left;
  width:66.666%;
}
.div1-3 {
  width:33.333%;
}
.div1-2 {
	width:50%;
	float:left;
}
.div1-4 {
	width:25%;
}
.div1-3.marginRight {
	width:31.333%;
  margin-right:2%;
}
.detailsFavorite, .detailsFavoriteSelected {
  float: left;
  width: 25%;
  display: inline-block !important;
  text-align: center;
  margin-bottom:10px;
}

.detailsFavorite .fa, .detailsFavoriteSelected .fa {
  font-size: 20px;
  color: #9e9e9e;
  border: 1px solid #999;
  padding: 8px;
  border-radius: 100%;
}
.detailsFavoriteSelected .fa {
    color: #CE1919;
}
.detailsShowing {
  float: left;
  width: 75%;
  display: inline-block;
  text-align: center;
}
.detailsShowing .button {
  width: 100% !important;
  display: inline-block;
  padding:8px 0 !important;
  font-size:14px;
}
.detailsButtons {
  width: 100%;
  float: left;
  display: inline-block;
  position:relative;
}
.btnShare, .btnPrint, .btnShowMap {
  border: 1px solid #ccc;
  padding: 5px 0;
  float: right !important;
  width: 31.0%;
  text-align: center;
  margin: 0 !important;
}
a#btnMap {
    color: inherit !important;
}
.btnShare:hover, .btnPrint:hover, .btnShowMap:hover {
  background-color:#ececec;
  cursor:pointer;
}
.btnPrint {
  border-right:0;
  border-left:0;
}
.ddShare {
  position: absolute;
  top: 38px;
  width: 121px;
  list-style-type: none;
  left: 141px;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-animation: mymove .3s cubic-bezier(.215,.61,.355,1);
    animation: mymove .3s cubic-bezier(.215,.61,.355,1);
  z-index:100000;
}
.dropdownContent {
  display:none;
}
.show {
  display:block !important;
}
.detailsBody {
  width:100%;
  display:inline-block;
  background-color:#fff !important;
  padding:10px 0 !important;
}
.featuresBox {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.detailsBox, .featuresBox {
  border:1px solid #ccc; 
  width:100%;
  float:left;
  margin-bottom:10px;
  border-radius:2px;
  font-size:14px;
}
.detailsBox .wpcf7-form, .modal-body .wpcf7-form {
    color: #777 !important;
}
.detailsBox .wpcf7 input[type="number"], .detailsBox .wpcf7 input[type="date"], .detailsBox .wpcf7 input[type="number"], .detailsBox .wpcf7 input[type="tel"], .detailsBox .wpcf7 input[type="url"], .detailsBox .wpcf7 input[type="email"], .detailsBox .wpcf7 input[type="text"], .detailsBox .wpcf7 select {
    width: 75%;
}
.detailsBox .wpcf7 select {
    border-radius: 0 !important;
    height: 35px;
}
.detailsPrice {
    font-size:18px;
    font-weight:bold;
}
.detailsBeds, .detailsAcres, .detailsBaths, .details1-2Baths, .detailsSqft, .detailsPriceSqft {
  width:auto;
  float:left;
  padding:10px;
  margin:0 20px 0 0;
}

.detailsAcres {
  border-bottom:1px solid #ccc;
  width:49.7%;
  border-left:1px solid #ccc
}
.detailsBaths {
}
.details1-2Baths {
  border-bottom:1px solid #ccc;
  width:49.7%;
  border-left:1px solid #ccc
}
.detailsSqft {
}
.detailsPriceSqft {
  border-bottom:1px solid #ccc;
  width:49.7%;
  border-left:1px solid #ccc
}
.detailsValue {
  font-size: 14px;
  line-height: 4px;
}
.detailsLabel {
  font-size: 12px;
}
.detailsSpecs {
  width: 100%;
  float: left;
  padding: 0;
}
.specsLabel, .specsValue {
  float: left;
  margin-bottom: 0;
  padding: 1%;
  font-size:12px;
}
.specsLabel {
  width:40%;
  font-weight:bold;
  box-sizing:border-box;
}
.specsValue {
  width:60%;
  text-align:right;
  white-space:nowrap;
  box-sizing:border-box;
}
.detailsSpecs div:nth-child(1), 
.detailsSpecs div:nth-child(2), 
.detailsSpecs div:nth-child(5), 
.detailsSpecs div:nth-child(6),
.detailsSpecs div:nth-child(9), 
.detailsSpecs div:nth-child(10), 
.detailsSpecs div:nth-child(13), 
.detailsSpecs div:nth-child(14){
    background-color: #f2f2f2;
}
.headerSchoolInfo {
  width:100%;
  padding:15px 0;
  text-align:center;
  font-size:25px;
}
.featuresHolder, .relatedProperties {
  width:100%;
  float:left;
  margin:10px 0;
}
.relatedProperties {
    height: 325px;
    overflow:hidden;
}
.featuresHeader, .detailsDescriptionHeader, .relatedHeader{
    font-size: 24px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.relatedHeader {
  text-align:center;
  display:none;
  }
.detailsFeaturesLabel, .detailsFeaturesValue {
  float:left;
  padding: 5px 2% 5px 2%;
  border-bottom: 1px solid #ccc;
}
.detailsFeaturesLabel {
  width:40%;
  box-sizing: border-box;
}
.detailsFeaturesValue {
  width: 60%;
  border-left: 1px solid #ccc;
  float: left;
  box-sizing: border-box;
}
.featuresBox div:nth-child(3), 
.featuresBox div:nth-child(4), 
.featuresBox div:nth-child(7), 
.featuresBox div:nth-child(8),
.featuresBox div:nth-child(11), 
.featuresBox div:nth-child(12), 
.featuresBox div:nth-child(15), 
.featuresBox div:nth-child(16),
.featuresBox div:nth-child(19), 
.featuresBox div:nth-child(20), 
.featuresBox div:nth-child(23), 
.featuresBox div:nth-child(24),
.featuresBox div:nth-child(27), 
.featuresBox div:nth-child(28), 
.featuresBox div:nth-child(31), 
.featuresBox div:nth-child(32),
.featuresBox div:nth-child(35), 
.featuresBox div:nth-child(36), 
.featuresBox div:nth-child(39), 
.featuresBox div:nth-child(40){
  background-color:#f2f2f2;
}
.detailsMap {
  width:100%;
  float:left;
}
.detailsDescriptionHolder, .featuresHolder {
	width: 100%;
    float: left;
    background-color: #fff;
    padding: 20px;
    margin: 20px 0 0;
}
.featuresHolder {
	margin:0;
}
.detailsDescriptionHolder .div2-3, .detailsBody .div2-3 {
    width: 64.333%;
    margin-right: 2.333% !important;
}
.agentTile {
  width:100%;
  padding:1%;
  float:left;
  background-color:#fff;
  border:1px solid #ccc;
}
.slick-slide img {
    max-width: 750px;
    margin:0 auto;
}
.col1-4 {
  width:25%;
  float:left;
}
.col1-2 {
  width:50%;
  float:left;
}
.col1-1 {
  width:100%;
  float:left;
}
.padding10 {
  padding:10px;
}
.agentTitle {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}
.agentPhone a {
  -webkit-appearance: none;
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 12px;
  background: #fbfbfb;
  vertical-align: middle;
  line-height: 38px;
  min-height: 40px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  text-shadow: 0 1px 0 rgba(255,255,255,0);
  box-shadow: 0 1px 1px rgba(0,0,0,.1),inset 0 -2px 2px -1px rgba(0,0,0,.1)!important;
  border-color: rgba(0,0,0,.2);
  border-bottom-color: rgba(0,0,0,.25); 
  width:100%;
}
.agentPhone a:hover {
  background-color:#ececec; 
}
.miniMap {
  position: relative;
  height: 150px;
  overflow: hidden;
  margin-bottom: 15px; 
}
.miniMap img {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: none;
}
.red {
  color:inherit !important; 
}
address {
    background-color: transparent !important;
    text-align: center !important;
    border: 0 !important;
    color: inherit !important;
}
.listing {
  float: left;
  position:relative;
}
.listing:hover {
  box-shadow: 0 0 4px #999;
  cursor: pointer;
}
.listingImage {
  width:100%;
  float:left;
  height:100px;
  overflow:hidden;
}
.listingImage img {
  width:100%;
}
.listingAddress, .listingArea, .listingBeds, .listingSqft, .listingPrice, .listingViewMore {
    float: left;
    font-size: 12px;
    width: 100%;
    border-bottom: 1px solid #ececec;
    text-align: center;
    line-height: 18px !important;
    padding: 7px 0;
}
.listingFavorite, .listingFavoriteSelected {
  float:right; 
}
.listingFavorite .fa, .listingFavoriteSelected .fa {
  font-size: 20px;
  color: #9e9e9e;
  border: 1px solid #999;
  padding: 8px;
  border-radius: 100%;
}
.listingFavoriteSelected .fa {
  color:#CE1919; 
}
.listingFavorite .fa:hover, .listingFavoriteSelected .fa:hover {
  background-color:#ececec;
}
.listingStatus {
  position:absolute;
  left:10px;
  top:20px;
  text-transform:uppercase;
  font-size:12px;
  color:#fff;
}
.listingStatus .shortSale {
  background-color:#00aed7; 
  padding:3px 8px;
}
.listingStatus .new {
  background-color: #fef568;
  color: #191919;
  padding:3px 8px;
}
.listingStatus .foreclosure {
  background-color:#f0a607;
  padding:3px 8px;
}
.viewDetails {
  position:absolute;
  top:100px;
  left:50%;
  margin-left:-60px;
  display:none;
}
.listing:hover .viewDetails {
  display:block;
}
.viewDetails a {
  background-color:#333333;
  padding:5px 10px;
  color:#fff !important;
  font-size:18px;
}
.viewDetails a:hover {
  background-color:#222222;
  color:#fff !important;

}
.col1-4.item {
    margin: .5% .5% 20px .5%;
    background-color: #f9f9f9;
    width: 24%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #ececec;
}
.col1-4.item:hover {
    background-color: #f5f5f5;
    cursor:pointer;
}
.col1-4.item a {
    color:inherit;
}
.owl-item {
    width: 170px !important;
}
.carousel {
  width:700px !important;
}
.owl-carousel .owl-stage-outer {
	height:445px !important;
}
.owl-prev, .owl-next {
   color:Transparent; 
   float:left;
}
.owl-next {
 
   float:right;
}
.owl-prev, .owl-next {
    color: transparent;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 100%;
    float: left;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 10px;
    padding: 10px;
  margin:0 5px;
}
.owl-prev:hover, .owl-next:hover {
    background-color:#ececec;
}
.owl-prev:after, .owl-next:after {
    content: "◀";
    color: #555;
    float: left;
    margin-top: -20px;
    margin-left: 3px;
}
.owl-next:after {
    content: "▶";
    color: #555;
    float: left;
    margin-left: 8px;
}
.owl-nav {
    text-align: center;
    width: 150px;
    margin: 10px auto;
}
.Disclaimer {
    width: 100%;
    float: left;
}
.detailsAddress {
	
}
.detailsFormHolder {
	width:100%;
	background-color:#f9f9f9;
	border:1px solid #ccc;
	float:left;
}
.detailsFormHolder h3 {
	font-size:20px;
	font-weight:normal;
	padding:20px 0;
	text-align:center;
	float:left;
	border-bottom: 1px solid #ccc;
	background-color:#ececec;
	width:100%;
}
.detailsForm {
	float:left;
	padding:0 20px;
	width:100%;
}
.detailsForm input, .detailsForm textarea {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 0 5px;
    width: 100%;
}
.detailsForm textarea {
	height:200px;	
}
.detailsForm input[type="submit"] {
    border-radius: 3px;
    border: 0;
    padding: 5px 0;
    width: 100%;
    background-color:#e10019 !important;
    color:#fff !important;
}
.propertyDetails {
    width: 100%;
    float: left;
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: #ccc 0px 1px 1px;
}
.propertyDetails .fa, .propertyDetails img {
    float: left;
    font-size: 30px;
    margin-top: 7px;
    margin-left: 10px;
    color: #ccc;
}
.propertyDetails img {
    width: 35px !important;
}
.propertyImages {
    width: 100%;
    background-color: #f2f2f2;
    float: left;
    text-align: center;
	height:400px;
}
.propertyImages img {
	max-width:100%;
}
.propertyType {
    width: 100%;
    float: left;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
}
.detailsMapLink {
	float:right;
}
.detailsMapLink .fa, .detailsMapLink .detailsBeds {
	margin-top:0;
	padding-top:0;
	float:none;
	margin-left:0;
	text-align:center;
}
.listingOffice, .listingAgent {
	font-size:16px;
	font-weight:normal;
	width:100%;
	display:inline-block;
}
.listingAgent {
	color:#6eaaea;
	font-size:18px;
	line-height:20px;
	margin:0;
}
.propertyHolder .lightbox {
    background: #000 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 30px;
    opacity: 0.7;
    position: relative;
    right: -10px;
    text-align: center;
    top: 30px;
	left:95%;
    width: 30px;
    z-index: 2;
}
/* mobile css */
@media (min-width: 0px) and (max-width: 699px) {
  .col1-3, .div1-3, .col2-3, div2-3, .div2-3, .div1-3, .div1-2 {
       width:100% !important;
    }
  .col1-4 {
      width:49% !important;
    	margin-left:1% !important;
    }
  .propertyImages {
    width:100% !important;
  }
  .relatedProperties {
      height:745px;
  }
  .relatedProperties .col1-4 {
    width: 48% !important;
  }
  .relatedProperties .listingImage {
    width: 100%;
    float: left;
    height: 150px;
  }
}