
/* search results */
.sort_list li button.btn {
    background: transparent none repeat scroll 0 0 !important;
    border: medium none !important;
    border-radius: 0;
    box-shadow: none !important;
    font-weight: normal;
    margin: 0;
    outline: medium none !important;
    padding:0;
	color:#838485;
	text-transform:capitalize;
	font-size:12px;
}
.mapHolder #divListings{ position:absolute; width:55%; }
.searchResults, .mapHolder {
  width:45%;
  float:left;
  background-color: #f9f9f9;
}
.mapHolder {
	width: 55%;
    height: 100%;
    overflow: hidden;
}
.searchResultsHeader {
    width: 55%;
    float: left;
    text-align: center;
    font-size: 20px;
    margin: 5px 0 0;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-right-radius: 5px;
    background-color: #fff;
}
.searchResultsMap, .searchResultsPhoto {
	padding:5px 5px 15px;
	width:100%;
	display:inline-block;
	background-color:#fff;
}
.searchResults .col1-4 {
  width:24%; 
  margin-left:0.5%;
  float:none;
  display:inline-block;
  margin-bottom:10px;
  vertical-align:top;
}
.listing {
  box-shadow: inset 0 0 2px #999;
  float: left;
  padding: 10px;
  position:relative;
  min-height:505px;
}
.listing:hover {
  box-shadow: 0 0 4px #777;
  cursor: -webkit-zoom-in;
}
.listingImage {
  width:100%;
  float:left;
  height:215px;
  overflow:hidden;
  margin-bottom:20px;
}
.listingImage img {
  width:100%;
}
.listingAddress {
    float: left;
    font-size: 12px;
    width: 100%;
    line-height: 14px;
    padding: 5px;
    font-size: 15px;
}
.listingCity {
	width:100%;
	float:left;
	padding:0 5px;
	font-size:11px;
}
.listingPrice {
  color: inherit;
  font-size: 25px;
  line-height: 1.25;
  float:left;
  clear:left;
  font-weight:normal;
  margin-bottom:20px;
  width:100%;
  text-align:center;
}
.listingFavorite .fa, .listingFavoriteSelected .fa {
  font-size: 20px;
  color: #9e9e9e;
}
.listingFavoriteSelected .fa {
  color:#CE1919 !important; 
}
.listingBeds, .listingBaths, .listingSqft, .listingAcres {
  width:100%;
  float:left;
  padding-bottom:5px;
  border-bottom:1px solid #ccc;
  margin-bottom:5px;
}
.bedsValue, .bathsValue, .sqftValue, .acresValue {
  float:right;
}
.listingStatus {
    font-size: 12px;
    float: left;
    text-align: left;
    line-height: 20px;
    width: 45%;

}
.statusActive, .statusSold, .statusUnderContract {
	width:15px;
	height:15px;
	float:left;
	margin:4px 5px 0 0;
	border:2px solid #fff;
	border-radius:100%;
	background-color:#15af01;
}
.statusSold {
	background-color:#d63d28;
}
.statusUnderContract {
	background-color:#eee92c;
}
.listingStatus .shortSale {
  background-color:#00aed7; 
  padding:3px 8px;
}
.listingStatus .new {
  background-color: #fef568;
  color: #191919;
  padding:3px 8px;
}
.listingStatus .foreclosure {
  background-color:#f0a607;
  padding:3px 8px;
}
.viewDetails {
  position:absolute;
  top:100px;
  left:50%;
  margin-left:-60px;
  display:none;
}
.listing:hover .viewDetails {
  display:block;
}
.viewDetails a {
  background-color:#333;
  padding:5px 10px;
  color:#fff !important;
  font-size:18px;
}
.viewDetails a:hover {
  background-color:#222;
  color:#fff !important;

}
.resultsFilters {
    width: 45%;
    margin: 7px 0 0px;
    float: right;
    border-bottom: 1px solid #ccc;
    padding: 0 10px 21px;
}
.resultsFilters .button {
    float: left;
}
#divFilters {
    float: left;
    padding: 0;
    margin: 0 5px;
    width:525px;
}
#divFilters .filter {
    background-color: #fff;
    border-radius: 2px;
    float: left;
    margin: 2px;
    padding: 0px 3px;
    border: 1px solid #ccc;
    font-size: 11px;
    display:none;
}
#divFilters .remove {
    background-color: #777777;
    border-radius: 28px;
    float: right;
    font-size: 8px;
    margin: 4px 0 0 10px;
    padding: 0px 4px;
    cursor: pointer;
    color: #fff;
    line-height: 13px;
}
#divFilters .remove:hover {
    background-color:#999;
}
.resultsSort {
  float:right;
  position:relative;
}
.resultsFilters .fa {
    font-size: 16px;
    padding: 5px;
}
.btnSort, .btnMap, .btnPhoto, .btnGallery, .btnOurIcons {
  border: 1px solid #ccc;
  padding: 5px 10px;
  float:left;
}
.btnSort:hover, .btnMap:hover, .btnPhoto:hover, .btnGallery:hover, .btnOurIcons:hover {
  background-color:#ececec;
  cursor:pointer;
}
.btnSort {
  margin-right:10px;
}
.btnMap {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btnOurIcons {
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btnPhoto {
 
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
}
.btnGallery {
  border-right:0;
}
.headerPaging ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	height:30px;
}
.headerPaging li {
	font-size: 12px;
    float: left;
    margin: 0 20px 0 7px;
}
.headerPaging li.sortMore {
	position:relative;
	cursor:pointer;
}
.headerPaging li:hover {
	border-bottom:2px solid #e10019;
}
.headerPaging .pagi-right {
	display:none;
}
.headerPaging section {
    padding: 0 !important;
}

.headerPaging .pagi:before {
    content: "Showing ";
    float:left;
}
.pagi {
    float: left;
    padding: 0px 0%;
    width: 100%;
    font-size: 11px;
    margin:10px 0;
}
.headerPaging .pagi {
    font-size: 18px;
    padding-left:7px !important;
    margin:5px 0 0 !important;
}
.pagi-left {
    float: left;
}
.pagi-right {
    float: right;
}
.pagi-right a {
    background-color: #ececec;
    margin: 0 0 0 5px;
    padding: 5px 10px;
    color:#333 !important;
}
.pagi-right a:hover {
    background-color: #ccc;
}
.pagi-right a:empty {
    display:none;
}
.pagi-right .active {
    background-color: #333;
    color: #FFFFFF !important;
}

/* end search results */
/* map layout csss */
.listingWrapper {
	width:47% !important;
	margin:1%;
	box-shadow: #ccc 0px 0px 5px;
	padding:0 !important;
	vertical-align:top;
	float:none !important;
	display:inline-block !important;
}
.markerLabel {
  background-color:#fff;
  padding:0 3px;
  color:#333333;
  font-size:10px;
  left:-50%;
  position:absolute;
  border-radius:2px;
}
.mapListingHolder .listingPhoto, .mapListingHolder .listingDetails {
    width: 100%;
    float: left;
}
.mapListingHolder .listingPhoto img {
    width: 100%;
    max-width:170px;
}
.mapListingHolder .listingPhoto {
    padding-right: 5px;
    float: left;
    width: 85px;
    margin:5px 0 10px;
}
.mapListingHolder .listingPrice {
    font-size: 13px;
    font-weight: bold !important;
    text-align: left;
    margin: 0;
    line-height: 10px !important;
}
.mapListingHolder .listingDetails {
    width: 115px !important;
    float: left;
    font-size: 11px;
}
.mapListingHolder .listingStatus, .mapListingHolder .listingAddress {
    display: none;
}
span.number {
    font-weight: bold;
}
.mapListingHolder .listingPrice .number {
    font-weight:normal !important;
}
.mapListingHolder .listingUrl a {
    color: #fff;
    background-color: #333 !important;
    padding: 0px 5px;
    border-radius: 2px;
    margin: 5px 0 0;
    display: inline-block;
    font-size: 11px;
    float: left;
}
.mapListingHolder .listingUrl a:hover {
    background-color: #555 !important;
    color:#fff !important;
    cursor:pointer;
    text-decoration:none;
}
.listingUrl {
    width: 100%;
    text-align: right;
}
.mapListingHolder {
    max-width: 200px;
}
.listingSidebar .listingPhoto {
    width: 100% !important;
    text-align: center;
    background-color: #f9f9f9;
    overflow: hidden;
    max-height: 205px;
}
.listingSidebar .listingPhoto img {
    width: auto !important;
    max-height: 250px;
    max-width:100%;
}
.listingSidebar {
	border:0 !important;
}
.shortcuts {
	position:absolute;
	right:10px;
	top:10px;
	width:25px;
}
.shortcuts .fa {
	display:block;
	color:#fff;
	text-shadow: 0 0 2px #000000;
	font-size:20px;
	margin:0 0 5px;
}
.shortcuts a:hover {
	text-decoration:none;
}
.shortcuts .fa-share:hover {
	color:#4f92fe;
	cursor:pointer;
}
.shortcuts .fa-heart:hover {
	color:red;
	cursor:pointer;
}
.shortcuts .fa-ban:hover {
	color:red;
	cursor:pointer;
}
.listingInfo {
  width:100%;
  position:absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding:5px;
  color:#fff;
  bottom:0px;
}
.listingSpec {
	width: auto !important;
    display: inline-block;
    text-align: center;
}
.listingSpecs {
    float: left;
    padding-left: 0;
    line-height: 17px;
    padding-top: 5px;
    width: 55%;
    text-align: center;
    font-size: 12px;
}
.listingSpecValue, .listingSpecLabel {
	width:100%;
	float:left;
	text-align:center;
}
.listingPpsqft {
	width: 100%;
    float: left;
    font-size: 11px;
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid #ccc;
}
.listingPpsqft b {
	font-size:13px;
}
/* end map layout css */

/* mobile css */
@media (min-width: 961px) and (max-width: 1026px) {
	body{ padding-top:0 !important; }
	.headerPaging li{ margin:0 5px; }
	.headerPaging .pagi{ font-size:16px; }
	.btnSort, .btnMap, .btnPhoto, .btnGallery, .btnOurIcons{ padding:5px; }
}
@media (min-width: 0px) and (max-width: 699px) {
	.col1-3, .div1-3, .col2-3, div2-3 {
	    width:100% !important;
	}
	.searchResults .col1-4 {
	    width:49% !important;
	    margin-left:1% !important;
	}
	.sidebar {
	     display:none;
	}
  	.listingDetailsContainer, .listingPhotos {
	    float: left;
	    width: 100%;
	}
	.pagi-right, .pagi-left {
	   width: 100% !important;
	   text-align: center;
	}
	.pagi-left{
		margin:0 0 10px;
	}
	.propertyImages {
	    width: 500px !important;
	}
	
}
@media (min-width: 0px) and (max-width: 400px) {
	body{ padding-top:0 !important; }
	.propertyImages { width: 350px !important; }
	.mapHolder{ display:none; }
	.searchResults{ width:100%; }
	.container { padding-left: 10px !important; padding-right: 10px !important; }
	.listingSidebar .listingPhoto img{ height:150px; }
	.searchMenu li{ padding:0 5px !important; }
	.inputHolder input.inputSearch{ width:305px !important; }
	.searchBar .ddSearchResults { left: 30px; width: 305px; top:100px; }
	
	/* Search filters */
	.searchFilter{ font-size: 11px; margin: 0 !important; }
	.searchFilters button{ margin-right:5px !important; }
	 button.dropbtnMore, button.btnSaveSearch { margin: 10px 0 0 !important; padding: 2px !important; }
	.ddPrice{ left:16% !important; }
	.ddBeds{ left:35% !important; }
	.ddBaths{ left:52% !important; }
	.ddNewConstruction{ left:68% !important; }
	.searchFilters .ddMore{ left:0% !important; top:100% !important; width:100%; }
	.btnSort, .btnMap, .btnPhoto, .btnGallery, .btnOurIcons{ padding: 3px !important; }
	.headerPaging .pagi{ font-size:11px; }
	.pagi-right, .pagi-left{ width:75% !important; }
	.pagi-left{ margin:0; }
	.searchResultsHeader .headerPaging section{ margin:0 !important; }
	.headerPaging li{ margin:0 1% !important; font-size:11px; }
	
}
@media (min-width: 401px) and (max-width: 550px) {
	body{ padding-top:0 !important; }
	.propertyImages { width: 400px !important; }
	.mapHolder{ display:none; }
	.searchResults{ width:100%; }
	.container { padding-left: 10px !important; padding-right: 10px !important; }
	.listingSidebar .listingPhoto img{ height:175px; }
	.searchBar .ddSearchResults { left: 30px; width: 350px; top:100px; }
	
	/* Search filters */
	.searchFilter{ font-size: 11px; margin: 0 2% 0 0 !important; }
	.searchFilters button{ margin-right:10px !important; }
	 button.dropbtnMore, button.btnSaveSearch { margin: 10px 0 0 !important; padding: 2px !important; }
	.ddPrice{ left:13% !important; }
	.ddBeds{ left:28% !important; }
	.ddBaths{ left:40% !important; }
	.ddNewConstruction{ left:54% !important; }
	.searchFilters .ddMore{ left:0% !important; top:100% !important; width:100%; }
	.btnSort, .btnMap, .btnPhoto, .btnGallery, .btnOurIcons{ padding: 5px !important; }
	.headerPaging .pagi{ font-size:13px; }
	.pagi-right, .pagi-left{ width:75% !important; }
	.pagi-left{ margin:0; }
	.searchResultsHeader .headerPaging section{ margin:0 !important; }
	.headerPaging li{ margin:0 2% !important; }
	
	
}
@media (min-width: 551px) and (max-width: 698px) {
	body{ padding-top:0 !important; }
	.propertyImages { width: 550px !important; }
	.mapHolder{ display:none; }
	.searchResults{ width:100%; }
	.container { padding-left: 10px !important; padding-right: 10px !important; }
	.listingSidebar .listingPhoto img{ height:175px; }
	.searchBar .ddSearchResults { left: 30px; width: 350px; top:100px; }
	
	/* Search filters */
	.searchFilter{ font-size: 12px; margin: 0 3% 0 0 !important; }
	.searchFilters button{ margin-right:10px !important; }
	 button.dropbtnMore, button.btnSaveSearch { margin: 10px 0 0 !important; padding: 2px !important; }
	.ddPrice{ left:13% !important; }
	.ddBeds{ left:28% !important; }
	.ddBaths{ left:40% !important; }
	.ddNewConstruction{ left:54% !important; }
	.searchFilters .ddMore{ left:0% !important; top:100% !important; width:100%; }
	.btnSort, .btnMap, .btnPhoto, .btnGallery, .btnOurIcons{ padding: 5px !important; }
	.headerPaging .pagi{ font-size:13px; }
	.pagi-right, .pagi-left{ width:75% !important; }
	.pagi-left{ margin:0; }
	.searchResultsHeader .headerPaging section{ margin:0 !important; }
	.headerPaging li{ margin:0 4% !important; }
}
@media (min-width: 700px) and (max-width: 960px) {
	body{ padding-top:0 !important; }
	.propertyImages { width: 550px !important; }
	.mapHolder{ display:none; }
	.searchResults{ width:100%; }
	.container { padding-left: 10px !important; padding-right: 10px !important; }
	.listingSidebar .listingPhoto img{ height:200px; }
	.sidebar { display:none !important; }
	.photoLayout .col2-3 { width: 100% !important; }
	.searchBar .ddSearchResults { left: 30px; width: 350px; top:100px; }
	
	/* Search filters */
	.searchFilter{ font-size: 12px; margin: 0 5% 0 0 !important; }
	.searchFilters button{ margin-right:10px !important; }
	 button.dropbtnMore, button.btnSaveSearch { margin: 10px 0 0 !important; padding: 2px !important; }
	.ddPrice{ left:11% !important; }
	.ddBeds{ left:24% !important; }
	.ddBaths{ left:35% !important; }
	.ddNewConstruction{ left:48% !important; }
	.searchFilters .ddMore{ left:0% !important; top:100% !important; width:100%; }
	.btnSort, .btnMap, .btnPhoto, .btnGallery, .btnOurIcons{ padding: 5px !important; }
	.headerPaging .pagi{ font-size:13px; }
	.pagi-right, .pagi-left{ width:75% !important; }
	.pagi-left{ margin:0; }
	.searchResultsHeader .headerPaging section{ margin:0 !important; }
	.headerPaging li{ margin:0 4% !important; }
}


/* old css */


.container {
  display: table;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.page-template-PropertySearch2 .wrap {
    max-width: 100% !important;
}
.searchLogo {
  float:left;
  padding-right:10px;
}
.searchLogo img {
  max-width:250px;
}
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.col1-3 {
  width:33.333%;
  float:left;
}
.col1-3.margin-right {
  width:31.333% !important;
  float:left !important;
  margin-right:2% !important;
}
.col2-3 {
  width:66.666%;
  float:left;
}
.col1-4 {
  width:25%;
  float:left;
}
.col1-2 {
  width:50%;
  float:left;
}
.right {
  float:right !important; 
}


/* photo layout css */
.photoLayout {
  width:100%;
  float:left;
  
}
.listingSidebar {
    border: 1px solid #ccc;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    border-radius: 2px;
    height: 650px;
    overflow-y: auto;
    margin-bottom: -215px;
    padding-bottom: 150px;
}
.listingBox {
    border: 1px solid #ccc;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 2%;
    box-sizing: border-box;
    position: relative;
}
.listingBoxInfo {
    width: 100% !important;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}
.listingBox h1 {
    margin-bottom: 5px;
    font-size: 25px;
}
.listingWrapper {
  width:96%;
  padding:2%;
  float:left;
  border-bottom:1px solid #ccc;
  margin-bottom:10px;
  vertical-align:top;
}
.listingSidebar .listingPhoto, .listingSidebar .listingDetails {
  position:relative;
  width:55%;
  float:left;

}
.listingDetails {
	width:100% !important;
}
.listingSidebar .listingPrice {
    font-size:20px;
	margin:5px 0;
	border-top:1px solid #ececec;
	padding:5px 0 0;
}

.listingPhoto .listingStatus {
  left:0;
  top:0;
}
.listingDetailsBox {
  border:1px solid #ccc; 
  width:100%;
  float:left;
  margin-bottom:10px;
  border-radius:2px;
}
.listingDetailsPrice {
  text-align:center;
  padding:20px 0;
  color:#333333!important;
  font-size:32px;
  border-bottom:1px solid #ccc;
}
.listingDetailsBeds, .listingDetailsAcres, .listingDetailsBaths, .listingDetails1-2Baths, .listingDetailsSqft, .listingDetailsPriceSqft {
  width:50%;
  text-align:center;
  border-bottom:1px solid #ccc;
  float:left;
  padding:8px 0;
}
.listingDetailsAcres {
  border-bottom:1px solid #ccc;
  width:49.6%;
  border-left:1px solid #ccc
}
.listingDetailsBaths {
  border-bottom:1px solid #ccc;
}
.listingDetails1-2Baths {
  border-bottom:1px solid #ccc;
  width:49.6%;
  border-left:1px solid #ccc
}
.listingDetailsSqft {
  border-bottom:1px solid #ccc;
}
.listingDetailsPriceSqft {
  border-bottom:1px solid #ccc;
  width:49.6%;
  border-left:1px solid #ccc
}
.listingDetailsValue {
  font-size: 20px;
  line-height: 30px;
}
.listingDetailsLabel {
  font-size: 12px;
  text-transform:uppercase;
}
.listingDetailsSpecs {
  width: 100%;
  float: left;
  padding: 0;
  font-size:12px;
}
.specsLabel, .specsValue {
  float: left;
  margin-bottom: 0;
  padding: 1%;
  box-sizing: initial;
}
.specsLabel {
  width:38%;
  font-weight:bold;
}
.specsValue {
  width:58%;
  text-align:right;
}
.listingDetailsSpecs div:nth-child(1), 
.listingDetailsSpecs div:nth-child(2), 
.listingDetailsSpecs div:nth-child(5), 
.listingDetailsSpecs div:nth-child(6),
.listingDetailsSpecs div:nth-child(9), 
.listingDetailsSpecs div:nth-child(10), 
.listingDetailsSpecs div:nth-child(13), 
.listingDetailsSpecs div:nth-child(14){
    background-color: #f2f2f2;
}
.fullButton {
  width:100% !important; 
}
.sticky-wrapper.is-sticky {
  width:31.333% !important; 
  margin-right:2% !important;;
}
.sticky-wraper.is-sticky {
    width: 31.333% !important;
}
.is-sticky .sticky {
	position:fixed !important;
	top: 0 !important;
}
div#sticky-wrapper {
    width: 31.333% !important;
    
    vertical-align: top;
    margin-right: 2% !important;
    height: 585px !important;
}
.sticky-wrapper .col1-3 {
  float:none !important;
  width:96% !important;
  padding-right:2%;
}
.photoLayout .col2-3 {
  float:right !important;
  }
.sticky-wrapper.is-sticky .col1-3.margin-right {
    width: 358px !important;
    float: left !important;
    margin-right: 2% !important;
}
.listingPhotos {
    float:left;
    width: 66.666%;
    vertical-align: top;
  }
.listingDetailsContainer {
  
  float:left;
  width:33.333%;
  }
.listingDetailsContainer .button {
    font-size: 12px;
}
.sidebar {
	font-size: 14px;
    width: 31.333% !important;
    margin-right: 2%;
    float: left;
}
.slick-slide img {
    margin: 0 auto;
}
.searchResultsPhoto .listingPhoto {
	float:left;
	width:25% !important;
}
.searchResultsPhoto .listingDetails {
	float:left;
	width:75% !important;
}
.searchResultsPhoto .listingWrapper {
	float: left !important;
    width: 96% !important;
    box-shadow: none !important;
    box-sizing: content-box;
    margin:0 2% 0 0 !important;
    padding:1% !important;
}
.searchResultsPhoto .listingWrapper:hover {
	background-color:#f9f9f9;
}
.searchResultsPhoto .listingInfo {
    width: 100%;
    position: relative;
    background-color: transparent;
    padding: 5px;
    color: inherit;
}
.searchResultsPhoto .listingPrice {
        float: right !important;
    border: 0 !important;
    width: auto;
    padding: 0 20px;
    text-align: center;
}
.searchResultsPhoto .listingSpecs, .searchResultsPhoto .listingStatus {
    width:auto !important;
    padding-top:0 !important;
}
.searchResultsPhoto .listingStatus {
    font-size: 12px;
    float: left;
    text-align: left;
    line-height: 20px;
    width: auto;
    background-color: #f9f9f9;
    padding: 3px 40px 2px 5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom:1px solid #ececec;
}
.searchResultsPhoto .listingSpec {
    width: auto !important;
    display: inline-block;
    text-align: center;
    background-color: #f9f9f9;
    padding: 4px 5px;
    border-left:1px solid #ececec;
    float:left;
    border-bottom:1px solid #ececec;
}
.searchResultsPhoto .listingSpec.lastSpec {
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
 
}
/* end photo layout csss */


