/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 #tabs{ width:100%; }
.ui-tabs-nav{ width:20% !important; }
.ui-tabs-vertical .ui-tabs-panel{ float:left !important; width:75% !important ; }
ui-tabs-panel h1{ margin:0; padding:0; }
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{background:#58748c !important; border: 1px solid #58748c !important;}
.form-table th, .form-wrap label { color:#333 !important; }
.ui-tabs .ui-tabs-nav .ui-tabs-anchor { padding: 1em; }
.wrap h2.nav-tab-wrapper, h1.nav-tab-wrapper, h3.nav-tab-wrapper{ margin-bottom:10px; }
.form-table th{ font-size:13px; }
.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img{ box-shadow:0 0 0 1px #58748c, 0 0 2px 1px rgba(30, 140, 190, 0.0) !important; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{border-bottom-left-radius:0;}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{border-top-left-radius:0;}
.ui-tabs-vertical .ui-tabs-nav li a{ width:90%; }
#setting-error-dreamvilla-multiple-property{ display:none !important; }
.form-table{ margin:0.5em !important; }