.banner{ margin-bottom:10px; }
.banner-title{ background:#ed4d44; text-align:center; height:40px; border-radius:3px; color:#FFF; font-weight:bold; padding:10px 0; width:80%; margin:0 auto; }
.banner-title a, .banner-title a:hover{ color:#FFF; }
.background {left: -150px; position: relative; top:1px; }
.background img { left: 189px; position: absolute; top: -1px; }
.background img.gradient { left: 90px; }
.background img.marker { left: 842px; position: absolute; top: 61px; }
.circle-image { border: 3px solid #fff; border-radius: 50%; box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.35); display: inline-block; height: 128px; margin-left: 15px; margin-top: 15px; overflow: hidden; width: 128px; }
.circle-image img { height: 128px; }
.head-content {height: 167px; left: 0; max-width: 100%; position: relative; top: 0; z-index: 2; }
.property-heading-address { display: inline-block; left: 25px; position: relative; top: -25px; width: 440px; }
.property-heading-address h1{ font-size: 32px; margin-bottom: 0; max-height: 72px; overflow: hidden; padding-bottom: 10px; text-overflow: ellipsis; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); padding:0; margin:0; }
.property-heading-address h3{font-size: 14px; font-weight: 700; margin:0; padding:2px; text-transform: uppercase;}
.property-heading-address h4{ font-size: 14px; font-weight: 700; margin:0; padding: 2px 0 2px 14px; text-transform: uppercase;}
.property-header{ height:190px; }
.property-atts td:last-child { padding: 3px 0; font-weight: 600; font-size:11px;}
.property-atts td:first-child div { background-color: #f1f1f1; font-weight: 600; padding: 3px 10px 5px 5px; width: 100%; }
.property-atts td:first-child { color: #333; font-size: 11px; padding: 0 46px 3px 0; text-transform: uppercase; white-space: nowrap; }
.btn-em{ background-color: #cb333b; font-size:11px !important; font-weight:700 !important; color:#FFF !important; }
.btn-em:hover{ background-color: #000000; font-size:11px !important; font-weight:700 !important; color:#FFF !important; }
.property-overview h1, .property-document h1{ border-bottom: 3px solid #dbe1e4; color: #444; font-size: 26px; font-weight: 300; letter-spacing: -1px;    margin-bottom: 20px; margin-top: 1px; padding-bottom: 2px; }
.property-overview, .property-document, .property-photos, #map{ padding:20px 0 !important; }
.sidebar-agent{ padding:5px 0; }
.sidebar-agent h4 { border-bottom: 3px solid #dbe1e4; color: #ed4d44; font-size: 18px; letter-spacing: -1px; margin-bottom: 20px;    padding-bottom: 2px; }
.agent-info span{ display:block; font-size:12px; }
.agent-info a{color: #ed4d44;}
.name{  color: #333; display: block; font-size: 13px; font-weight: 700; margin-bottom: -1px;}
.abbr{ font-weight: 600; font-style:normal !important; }
.agent-circle{border: 2px solid rgba(0, 0, 0, 0.3); border-radius: 54px; width:90px; }
.wpcf7-submit{ background-color: #cb333b !important; color: #fff !important; font-size: 12px !important; font-weight: 700 !important; width:100% !important; padding:8px 0 !important; }
label{ font-size:12px; }
.updated-at{ display:block; font-size:11px; }
.icon{ width:27px; }
.sidebar-agent-map{border: 1px solid #ccc; box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); z-index: 100; background:#FFF;}
.no-padding{ padding:0; }
.highlights ul{ margin:0 0 0 30px; padding:0; }
.highlights ul li{ font-size:12px; font-weight:600; }
.description p{ font-size:12px; }
.nav > li > a:focus, .nav > li > a:hover{ background:none !important; border:1px solid transparent !important; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-top:0 !important; border-left:0 !important; border-right:0 !important; border-bottom:4px solid #cb333b !important; color: #cb333b; cursor: default; font-weight: 600; 	font-size:14px; }
.nav-tabs > li > a{ font-weight: 600; font-size:14px; }
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img{ width:100%; }
.detail-back{ height:42px;  border-bottom: 1px solid #ddd; padding-left:0; }
.hidden-msgTo, .hidden-255{ display:none; }
.table{ font-size:12px; }
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{ padding:5px !important; }
.fusion-header-v2 .fusion-header, .fusion-header-v3 .fusion-header, .fusion-header-v4 .fusion-header, .fusion-header-v5 .fusion-header{ height: auto !important;  }
.btn-detial-bottom{ text-transform: uppercase; display: block; margin: 15px auto; width: 50%;  }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
.container{ width:100% !important; }
.head-content { height: 90px;}
.circle-image {height: 65px; margin-left: 0px; margin-top: 0px; width: 65px;}
.circle-image img {height: 65px;}
.property-heading-address { left: 75px; top: 0px; width: 100%; position:absolute; }
.property-heading-address h1{ font-size:16px; }
.property-heading-address h3, .property-heading-address h4{ font-size:11px; }
.property-header{ height:90px; }
.nav > li > a{ font-size:11px; padding:5px !important; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{ font-size:11px; padding:5px !important; }
.sidebar-agent{ padding:0 !important; }
.sidebar-agent-map{ border:none; }

.detail-back{ height:27px; padding-top:5px; font-size:9px; }
.property-tabs-section .col-md-10{ padding-left:0; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav > li > a{ font-size:12px; }
.property-overview, .property-document, .property-photos, #map{ padding:10px 0 !important; }
.property-overview h1, .property-document h1{ font-size:16px; }
.btn-detial-bottom{ width: 100%;  }
}


@media only screen and (min-device-width : 481px) and (max-device-width : 767px){
.container{ width:100% !important; }
.head-content { height: 120px;}
.circle-image {height: 90px; margin-left: 0px; margin-top: 0px; width: 90px;}
.circle-image img {height: 90px;}
.property-heading-address { left: 110px; top: 0px; width: 100%; position:absolute; }
.property-heading-address h1{ font-size:20px; }
.property-heading-address h3, .property-heading-address h4{ font-size:13px; }
.property-header{ height:120px; }
.nav > li > a{ font-size:12px; padding:10px !important; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{ font-size:12px; padding:10px !important; }
.sidebar-agent{ padding:0 !important; }
.sidebar-agent-map{ border:none; }

.detail-back{ height:30px; padding-top:10px; font-size:9px; }
.property-tabs-section .col-md-10{ padding-left:0; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav > li > a{ font-size:12px; }
.property-overview, .property-document, .property-photos, #map{ padding:10px 0 !important; }
.property-overview h1, .property-document h1{ font-size:18px; }
.btn-detial-bottom{ width: 100%;  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 991px){
.container{ width:100% !important; }
.head-content { height: 120px;}
.circle-image {height: 90px; margin-left: 0px; margin-top: 0px; width: 90px;}
.circle-image img {height: 90px;}
.property-heading-address { left: 110px; top: 0px; width: 100%; position:absolute; }
.property-heading-address h1{ font-size:20px; }
.property-heading-address h3, .property-heading-address h4{ font-size:13px; }
.property-header{ height:120px; }
.nav > li > a{ font-size:12px; padding:10px !important; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{ font-size:12px; padding:10px !important; }
.sidebar-agent{ padding:0 !important; }
.sidebar-agent-map{ border:none; }

.detail-back{ height:35px; padding-top:10px; font-size:11px; }
.property-tabs-section .col-md-10{ padding-left:0; }
.property-overview, .property-document, .property-photos, #map{ padding:10px 0 !important; }
}

