#dropdown, .listingCount{ display:none; }
.sectionHeader {
    -moz-user-select: none;
    color: #444;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 10px;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
}
span.all, span.none, span.clear {
    color: #1f5fba;
    cursor: pointer;
    float: right;
    font-size: 11px;
    font-weight: 400;
    margin-right: 0;
    text-transform: none;
}
.tab-content{ padding:0 0 0 15px; }
span.sep {
    color: #666;
    float: right;
    font-weight: 400;
    margin: 0 3px;
}
.propertyTypeInput{
    display: inline-block;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    margin: 2px 0 2px 8px;
    vertical-align: middle;
    width: 115px;
}
.propertyTypeInput span {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    padding: 4px;
    vertical-align: middle;
}
.propertyTypeInput span input{ cursor: pointer; margin: 0; }
.propertyTypeInput label {
    cursor: pointer;
    position: relative;
    top: 2px;
}
.sectionHeader {
    -moz-user-select: none;
    color: #444;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 10px;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
}
.range {
    color: #888;
    font-size: 11px;
}
.sectionHeader {
    -moz-user-select: none;
    color: #444;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 10px;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
}
.range input {
    border: 1px solid #b2b2b2;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    width: 118px;
	height:23px;
    font-size: 10px;
}
label.negotiable {
    font-size: 10px;
}
.searchFilter{ font-size:13px; height:35px; margin-top:7px; }
.searchFilter button {
	font-weight:bold;
    border:none;
	background:none;
    display: inline-block;
	width:80%;
    outline: medium none;
    padding: 0.5em;
	text-align:left
}
.searchFilter button .fa{ float:right; }
.ddsort:before{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-bottom-left-radius: 3px;
    border-color: -moz-use-text-color -moz-use-text-color #c8c8c8 #c8c8c8;
    border-image: none;
    border-style: none none solid solid;
    border-width: medium medium 1px 1px;
    height: 10px;
    left: 10px;
    position: absolute;
    top: -5px;
    transform: rotate(135deg);
    width: 10px;
}
.ddsort1:before{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-bottom-left-radius: 3px;
    border-color: -moz-use-text-color -moz-use-text-color #c8c8c8 #c8c8c8;
    border-image: none;
    border-style: none none solid solid;
    border-width: medium medium 1px 1px;
    height: 10px;
    left: 10px;
    position: absolute;
    top: -5px;
    transform: rotate(135deg);
    width: 10px;
}
.ddsort {
	padding: 0;
	text-align: left;
	top: 43px;
	width: 299px;
	position:absolute;
	z-index:1001;
	background:#FFF;
	left:0;
	border: 1px solid #a9a8a5;
	height:200px;
	overflow-y:scroll;
}
.ddsort1 {
	padding: 0;
	text-align: left;
	top: 43px;
	width: 299px;
	position:absolute;
	z-index:1001;
	background:#FFF;
	left:0;
	border: 1px solid #a9a8a5;
}
.dropdownContent{ display:none; }
.search-list-container .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
	font-weight:bold;
}
.nav-tabs > li.active a {
	 border-color: rgba(0, 0, 0, 0.45) #cb333b #cb333b;
    box-shadow: 0 1.9px 9px 0 rgba(0, 0, 0, 0.35) inset;
	background-color: #ed4d44;
	color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    z-index: 2;
	border-radius:0;
}
.search-list-container{
	border: 1px solid #a9a8a5;
	padding:0 !important;
}
.filters .col-md-3{border-right:1px solid #a9a8a5;}
.search-module{ padding:15px 0; border-bottom: 1px solid #a9a8a5; }
.search-container{ padding:0 50px !important; }
.search-container .inputSearch{ border-radius:3px; width:85%; color:#a9a8a5 !important; border:solid 1px #a9a8a5; height:33px; }
.search-container .button{
	font-size:13px;
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ed4d44;
    border-color: -moz-use-text-color transparent transparent;
    border-image: none;
    border-radius: 3px 2px 2px 3px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 33px;
    line-height: 30px;
    margin-bottom: -1px;
    margin-right: -1px;
    margin-top: -1px;
    position: absolute;
    right: 50px;
    text-align: center;
    top: 1px;
    transition: all 0.2s linear 0s;
    width: 150px;}
.filters{ border-bottom: 1px solid #a9a8a5; }
.search-sidebar{ border-right: 1px solid #a9a8a5; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{ background-color: #ed4d44 !important; border-width:1px !important; color:#FFF !important; border-color: rgba(0, 0, 0, 0.45) #cb333b #cb333b !important;  }
.nav-tabs > li:hover a, .nav-tabs > li:focus a {
	 border-color: rgba(0, 0, 0, 0.45) #cb333b #cb333b;
    box-shadow: 0 1.9px 9px 0 rgba(0, 0, 0, 0.35) inset;
	background-color: #ed4d44;
	color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    z-index: 2;
	border-radius:0;
}
.search-container .form-input-validate{ border: solid 1px #ed4d44 !important; }
.search-listing .thumb {
    padding: 0;
    width: 144px;
}
.search-listing .thumb img{  border-radius: 3px; height: 93px; width: 140px; }
.search-display span, .search-display-lease span{ display:block;  }
.search-display #pagi_block span{ display:inline-block;  }
.search-display-lease #pagi_block span{ display:inline-block;  }
.ajax_pagi{ position:absolute; right:0; top:-43px; padding: 5px 9% 0 !important; }
.search-display-map{ min-height: 100% !important; height: 625px;}
.search-item{ margin:10px 10px 10px 0 !important; padding:10px !important; border:1px solid #FFF; }
.search-item:hover{border:1px solid #aaa;-webkit-box-shadow:rgba(0,0,0,0.15) 0px 2px 2px;-moz-box-shadow:rgba(0,0,0,0.15) 0px 2px 2px;box-shadow:rgba(0,0,0,0.15) 0px 2px 2px}
.search-item:hover .list-links{ opacity:1; }
.no-padding{ padding:0 !important; }
.list-title a{ color:#ed4d44 !important; font-size:14px; font-weight:700; }
.list-address{ margin:2px 0 6px 0; }
.list-description{ font-size:12px; }
.list-description:after{ background: rgba(0, 0, 0, 0) linear-gradient(rgba(255, 255, 255, 0), #ffffff) repeat scroll 0 0; bottom: 0; content: " "; display: block; height: 20px; position: absolute; width: 100%; z-index: 1;}
.list-contact-advisor{background-color: #f0f0f0; color: #333; font-size: 11px; line-height: 24px; padding-left: 10px; position: relative; vertical-align: middle;}
.list-contact-advisor a{color:#ed4d44 !important;}
.fa-envelope{ font-size:14px !important; }
.list-links{ opacity:0; height:10px; margin-top:10px; }
a.more-details { color: #333; float: right; font-size: 11px; font-weight: 700; margin-right: 20px; }
a.map{ color: #333; font-size: 11px; margin-right:20px; }
a.flyer{ color: #333; font-size: 11px; }
.sorting-val{ margin:0; padding:0; list-style:none; }
.sorting-val li{ line-height:30px; padding:10px 0; }
.sorting-val li span{ font-weight:bold; display:inline-block; padding-left:10px; }
.sorting-val li:hover{ background:#ed4d44; }
.sorting-val li i.fa{ float:right; margin-right:10px; margin-top:5px; font-size:16px; }
.sorting-val li i{ float:right; margin-right:10px; margin-top:0; font-size:12px !important; font-style:normal !important; }
#map-listing-sidebar .thumb img{ height:80px; }
#map-listing-sidebar span{ font-size:11px; display:block; margin:0 !important; }
#map-listing-sidebar #pagi_block span{ display:inline-block; font-size:13px;}
#map-listing-sidebar .list-title a{ font-size:11px; font-weight:700; }

#lease-map-listing-sidebar .thumb img{ height:80px; }
#lease-map-listing-sidebar span{ font-size:11px; display:block; margin:0 !important; }
#lease-map-listing-sidebar #pagi_block span{ display:inline-block; font-size:13px;}
#lease-map-listing-sidebar .list-title a{ font-size:11px; font-weight:700; }

.map-sidebar-item{ -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none;    -moz-border-top-colors: none; border-color: transparent transparent #cccccc; border-image: none; border-style: solid solid dotted; border-width: 1px; padding:10px 0; margin:0 -1px !important;  }
.map-sidebar-item:hover{border:1px solid #aaa;-webkit-box-shadow:rgba(0,0,0,0.15) 0px 2px 2px;-moz-box-shadow:rgba(0,0,0,0.15) 0px 2px 2px;box-shadow:rgba(0,0,0,0.15) 0px 2px 2px}
#map-listing-sidebar, #lease-map-listing-sidebar{ margin:20px 0;   background-color: #fff; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;  }
#map-listing-inner{ overflow-x: hidden; overflow-y: auto; height:430px; }
@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
.loading{ 
	background:url(../images/loading.png) no-repeat;
	background-size: 50px 50px;
	height:50px;
	width:50px;
	-webkit-animation: spin 0.10s infinite linear;
    animation: spin 1s infinite linear;
	position:relative;
	left:45%;
	margin-top:3%;
    top: 12px;
}
.text-center .fa.fa-search{ color:#ed4d44; font-size:30px; }
.fa.fa-angle-left, .fa.fa-angle-right{ font-size:16px; cursor:pointer; }
#pagi_block, #pagi_block_map, #pagi_block_lease, #pagi_block_lease_map{ padding:5px 20% 0 20%; text-align:center; }
.col-md-3 .nav-tabs > li > a{ margin-right:0; }
.tab-content .search-sidebar{ width:24% !important; }
.list-description-responsive{ display:none; }
@media only screen and (min-device-width : 320px) and (max-device-width : 400px){
	.container{ width:100% !important; }
	.filters, .search-sidebar{ display:none; }
	.search-container { padding: 0 25px !important; }
	.search-container .button{ right:25px; width:75px;}
	.search-listing .thumb img{ width:100%; height:45px; }
	.search-item .col-md-8{ padding:0 5px; }
	.search-item{ margin:5px !important; padding:5px !important; }
	.tab-content{ padding:0 !important; }
	.list-title a{ font-size:10px !important; }
	.search-item{ font-size:8px !important; }
	.list-description{ font-size:7px !important;  }
	.list-contact-advisor{ font-size:7px !important;  }
	a.more-details, a.map, a.flyer{ font-size:8px; }
	.list-description{ display:none !important; }
	.list-description-responsive{ display:block !important; }
	.ajax_pagi{ position:static; }
	.detail-back{ height:27px; padding:3px 0 0 0; font-size:9px; }
	.property-tabs-section .col-md-10{ padding-left:0; }
}
@media only screen and (min-device-width : 401px) and (max-device-width : 480px){
	.container{ width:100% !important; }
	.filters, .search-sidebar{ display:none; }
	.search-container { padding: 0 25px !important; }
	.search-container .button{ right:25px; width:75px;}
	.search-listing .thumb img{ width:100%; height:45px; }
	.search-item .col-md-8{ padding:0 5px; }
	.search-item{ margin:5px !important; padding:5px !important; }
	.tab-content{ padding:0 !important; }
	.list-title a{ font-size:11px !important; }
	.search-item{ font-size:9px !important; }
	.list-description{ font-size:8px !important;  }
	.list-contact-advisor{ font-size:8px !important;  }
	a.more-details, a.map, a.flyer{ font-size:9px; }
	.list-description{ display:none !important; }
	.list-description-responsive{ display:block !important; }
	.ajax_pagi{ position:static; }
}
@media only screen and (min-device-width : 481px) and (max-device-width : 991px){
	.container{ width:100% !important; }
	.filters, .search-sidebar{ display:none; }
	.search-container { padding: 0 25px !important; }
	.search-container .button{ right:25px; width:75px;}
	.search-listing .thumb img{ width:100%; height:75px; }
	.search-item .col-md-8{ padding:0 10px; }
	.search-item{ margin:10px !important; }
	
	.tab-content{ padding:0 !important; }
	.list-title a{ font-size:14px !important; }
	.search-item{ font-size:11px !important; }
	.list-description{ font-size:11px !important;  }
	.list-contact-advisor{ font-size:11px !important;  }
	a.more-details, a.map, a.flyer{ font-size:11px; }
	.list-description{ display:none !important; }
	.list-description-responsive{ display:block !important; }
	.ajax_pagi{ position:static; }
}