﻿.resultsContainer {
    border-bottom: 1px solid #ececec;
    margin-bottom: 15px;
    padding-bottom: 15px;
    float:left;
}
.resultsPhoto {
    width:25%;
    float:left;
}
.resultsPhoto img {
    width:100%;
}
.resultsDetails {
    width:75%;
    float:left;
}
.resultsAddress {
    color: #333;
    display: inline-block;
    font-size: 22px;
    padding-left: 3%;
    padding-top: 20px;
    vertical-align: top;
}
.resultsCityStateZip {
    font-size:16px;
    color:#999;
}
.resultsPrice, .resultsFavorite, .resultsFavoriteSelected {
    background-color:#CE1919;
    color:#FFFFFF;
  	float:right;
  	font-size:22px;
  	margin:0;
  	padding:10px;
}
.resultsPrice {
    padding: 12px 10px 11px;
}
.resultsFavorite {
    background-color:#333;   
}
.resultsFavorite:hover {
    background-color:#555;   
}
.resultsFavorite .fa, .resultsFavoriteSelected .fa {
    color: #FFFFFF !important;
}
.resultsInfo {
    clear: right;
    display: inline-block;
    float: left;
    margin: 20px 0;
    padding: 0 0 0 3%;
    width: 97%;
}
.infoItem {
    color: #999999;
    float: left;
    font-size: 20px;
    margin: 0 20px 0 0;
    padding: 10px 0;
}
.infoItem .fa {
   color:#333;
   margin-right:10px;
}
.lblSqft, .lblBed, .lblBath {
    color: #333;
    font-weight: bold;
    margin-right: 10px;
}
.resultsSearch {
    background-color: #FFFFFF;
    float: left;
    margin-bottom: 20px;
    padding: 20px 0;
    width: 100%;
}
.resultsSearch input, .resultsSearch select {
    padding: 2% !important;
    width: 96% !important;
    height:30px !important;
    border-radius:0 !important;
    border: 1px solid #CDCDCD;
    box-shadow: 0 0 2px #E9E9E9 inset;
    color: #333333 !important;
    font-size:13px !important;
}
.searchLabel {
    float:left;
    background-color:#ececec;
    text-align:center;
    padding:5px 10px;
    border-right:1px solid #ccc;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.navTabs {
    position: absolute;
    right: 0;
    top: -40px;
}
.navTabs .nav-tabs {
    border-bottom:0; 
}
.navTabs .nav-tabs .active {
    border-bottom: 1px solid #FFFFFF !important;
}
.navTabs .nav-tabs li {
    margin-left:5px;
}
.navTabs .nav-tabs li a {
    background-color:#fff;
}
.infoButtons {
    float: left;
    padding: 0 3%;
    width: 94%;
}
.btnDetails a {
    color: #333333;
}
.btnDetails .fa {
    color: #CE1919;
}
.pagi {
    float: left;
    padding: 0 2%;
    width: 96%;
}
.pagi-left {
    float: left;
}
.pagi-right {
    float: right;
}
.pagi-right a {
    background-color: #ececec;
    margin: 0 0 0 5px;
    padding: 5px 10px;
}
.pagi-right a:hover {
    background-color: #ccc;
}
.pagi-right a:empty {
    display:none;
}
.pagi-right .active {
    background-color: #CE1919;
    color: #FFFFFF !important;
}
/***** Mobile CSS *****/
@media screen and (max-width: 768px) and (min-width: 0px) {
  	.propertyImages {
        height:auto !important;
    }
    .propertySidebar {
        margin-top:10px; !important;
    }
    .resultsPhoto, .resultsDetails {
        width: 100% !important;
    }
  	.title-heading {
        float: left;
        height: auto !important;
        padding: 5px 2% !important;
        position: relative !important;
        top: -60px !important;
        width: 96%;
    }
  	.navTabs {
        float: right;
        position: relative !important;
        right: 14px;
        top: 63px;
        margin:0 !important;
    }
  	.nav-tabs {
        margin:0 !important;
    }
  	.navTabs .nav-tabs li a {
        background-color: #ECECEC;
        font-size: 12px;
    }
  	.navTabs .nav-tabs li.active a {
        background-color: #fff;
        font-size: 12px;
    }
  	.resultsSearch .span3, 
    .resultsSearch .span2, 
  	.resultsSearch .span1 {
        width: 100% !important;
    }
  	.resultsSearch input, .resultsSearch select {
    		height:55px !important;
    }
}

/* End Mobile */
/***** Tablet CSS *****/
@media screen and (max-width: 1024px) and (min-width: 769px) {
		.span9, .span3 {
        margin: 0 !important;
        width: 100% !important;
        float:left !important;
    }
  	.propertySidebar {
        margin-top:10px !important;
    }
}
/* End Tablet */
