﻿.searchHeader {
  backface-visibility: hidden;
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow:none !important;
  border:0 !important;
  padding: 15px 0;
  z-index: 1000;
}
.container {
  display: table;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.searchLogo {
  float:left;
  padding-right:10px;
}
.searchLogo img {
  max-width:250px;
}
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
/* search bar css */
.searchBar {
  float: left;
  position: relative;
  width: 54%;
}
.searchBy {
  text-transform: uppercase;
  padding: 5px 2%;
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 21%;
  text-align: center;
  font-size: 14px;
}
.searchBy:hover {
  background-color:#ececec;
}
@-webkit-keyframes mymove {
0% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}
@keyframes mymove
0% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.ddSearchBy, .ddPrice, .ddType, .ddBeds, .ddBaths, .ddMore, .ddSearchResults, .ddSort, .ddNewConstruction {
  position: absolute;
  top: 45px;
  width: 150px;
  list-style-type: none;
  left: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-animation: mymove .3s cubic-bezier(.215,.61,.355,1);
    animation: mymove .3s cubic-bezier(.215,.61,.355,1);
  z-index:100000;
}
.ddSearchBy {
	left:0;
}
.ddType {
    width: 190px;
    padding: 10px;
    left: inherit;
    right: 242px;
}
.ddSort {
  width:175px;
  padding:10px;
  top:40px !important;
}
.ddBeds {
    left: inherit;
    padding: 10px;
    width: 130px;
    right: 234px;
}
.ddBaths {
    width: 130px;
    left: inherit;
    padding: 10px;
    right: 165px;
}
.ddNewConstruction {
    width: 130px;
    padding: 10px;
    right: 92px;
    left: inherit;
}
.ddMore {
    left: initial !important;
    padding: 10px;
    width: 759px !important;
    right: 0 !important;
}
.ddPrice {
    width: 200px !important;
    left: inherit;
    right: 301px;
}
.ddPrice input[type="number"] {
    width: 44%;
    margin: 10px 3%;
    font-size: 12px;
    padding: 10px;
    float: left;
}
.ddSearchResults {
  left: 129px;
  width: 500;
  padding: 10px;
}
.ddSearchBy:before, .ddPrice:before, .ddType:before, .ddBeds:before, .ddBaths:before, .ddMore:before, .ddSearchResults:before, .ddSort:before, .ddNewConstruction:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: 10px;
  background: #fff;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  border-bottom-left-radius: 3px;
  border: 1px solid #c8c8c8;
  border-right: none;
  border-top: none;

}
.ddMore:before {
  right:10px !important; 
  left:initial;
}
.ulSearchBy, .ulType, .ulBeds, .ulBaths, .ulMore, .ulSearchResults, .ulSort {
  padding-top:15px;
}
.searchHeader ul {
  margin: 0 !important;
  list-style-type: none !important
}
.ulSearchBy a, .ddPrice li, .ulSearchResults li a, .ddSort li {
    display: block;
    color: #191919;
    padding: 5px 10px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
}
.ulSearchBy a:hover, .ddPrice li:hover, .ulSearchResults li a:hover, .ddSort li:hover {
  color:#fff !important;
  background-color:#333; /*dk grey*/
}
.ddSearchResults {
  display:none;
}
input.inputSearch {
    padding: 5px 2% !important;
    height: 42px !important;
    display: inline-block;
    margin: 0 !important;
    margin-top: -2px !important;
    width: 100% !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: 42px !important;
}
.input.inputSearch:focus label {
  display:none;
}
.lblSearch {
  display: block;
  margin: 0;
  position: absolute;
  top: 7px;
  left: 10px;
  color: #bbb !important;
  cursor: inherit;
}
.inputHolder {
    display: inline-block;
    position: relative;
    width: 75%;
}
.searchFilters {
    float: left;
    position: relative;
    width: 46%;
    text-align: right;
}

.searchFilters button {
  color: #fff !important;
  background-color: #bd0c0b;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  min-height: 42px !important;
  line-height: 42px !important;
  padding: 0 10px;
  display: inline-block;
  border:0;
  float:none;
  outline:none;
  letter-spacing:1px;
  font-weight:normal;
  text-transform:none;
}
.searchFilters button:hover {
  background-color: #9e0c0b; /*dark red*/
}
.dropdownContent {
  display:none;
}
.show {
  display:block !important;
}
.typeCheckbox, .bedsCheckbox, .sortCheckbox {
    margin: 5px 0 0;
    color: #191919;
    line-height: 20px !important;
    font-size: 12px;
    text-align:left;
}
.typeCheckbox input[type="checkbox"], .bedsCheckbox input[type="radio"], .sortCheckbox input[type="radio"] {
    margin: 0 5px 0 0;
    float: left !important;
    width: auto !important;
}
.selectHolder, .searchTo {
  float:left; 
  width:40%;
}
.searchTo {
  width: 10% !important;
  text-align: center;
  padding-top: 5px;
}
.selectHolder select {
  width:100% !important;
}
.ddMoreFooter {
  width:100%;
  padding:10px 0;
  margin-top:10px;
  border-top:1px solid #ccc;
  float:left;
}


.col1-3 {
  width:33.333%;
  float:left;
}
.right {
  float:right !important; 
}

.resultsFilters {
    width: 100%;
    margin: 10px 0;
    float: left;
}
.resultsFilters .button {
    float: left;
    font-size: 14px !important;
    padding: 10px !important;
}
#divFilters {
    float: left;
    padding: 0;
    margin: 0 5px;
    width:525px;
}
#divFilters .filter {
    background-color: #fff;
    border-radius: 2px;
    float: left;
    margin: 2px;
    padding: 0px 3px;
    border: 1px solid #ccc;
    font-size: 11px;
}
#divFilters .remove {
    background-color: #777777;
    border-radius: 28px;
    float: right;
    font-size: 8px;
    margin: 4px 0 0 10px;
    padding: 0px 4px;
    cursor: pointer;
    color: #fff;
    line-height: 13px;
}
#divFilters .remove:hover {
    background-color:#999;
}
.resultsSort {
  float:right;
  position:relative;
}
.btnSort, .btnMap, .btnPhoto, .btnGallery {
  border: 1px solid #ccc;
  padding: 5px 10px;
  float:left;
}
.btnSort:hover, .btnMap:hover, .btnPhoto:hover, .btnGallery:hover {
  background-color:#ececec;
  cursor:pointer;
}
.btnSort {
  margin-right:10px;
}
.btnMap {
  
}
.btnPhoto {
  border-right:0;
  border-left:0;
}
.btnGallery {
  
}
.selectedDisplay {
  background-color:#ececec !important; 
}
.moreFilters label {
    font-size:14px;
}
.moreFilters label {
    float: left;
    width: 100%;
    text-align:left;
}
/* end search bar css */
/** Save Search Popup **/
.hide {
    display: none;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin: -250px 0 0 -280px;
    background-color: white;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    outline: none;
}
.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}
.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 500px;
    padding: 15px;
}
.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 0 white;
    box-shadow: inset 0 1px 0 white;
}
.modal-body .wpcf7-form {
    color:#777 !important;
}
input[type="hidden" i] {
    display: none;
}
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 0 1px 0 white;
    opacity: 0.3;
    filter: alpha(opacity=20);
    padding: 5px !important;
    color: #000 !important;
    background-color: transparent !important;
}

/* mobile css */
@media (min-width: 0px) and (max-width: 699px) {
  .col1-3, .div1-3, .col2-3, div2-3, .div2-3, .div1-3 {
       width:100% !important;
    }
  .col1-4 {
      width:49% !important;
    	margin-left:1% !important;
    }
  .addressListingStatus, .addressPrice, .address2, .addressStatus, .addressUpdated, .addressID, .detailsAddress h1  {
    width: 100% !important;
    text-align:center !important;
  }
  .searchBar, .inputHolder, input.inputSearch {
    position: relative !important;
    width: 100% !important;
  }
  .ddSearchBy, .ddPrice, .ddType, .ddBeds, .ddBaths, .ddMore, .ddSearchResults, .ddSort {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    width: 96% !important;
    padding: 2% !important;
  }
  .modal {
      width:90% !important;
      margin-left:-45% !important;
  }
  .searchFilters {
    width: 100% !important;;
    margin: 10px 0 0 !important;;
   }
  .resultsSort {
     float:left !important;
  }
  .resultsFilters .button {
     display: block;
     width: 100%;
     margin: 10px 0 0;
   }
	.searchFilters {
	  text-align:left !important;
	}
	.container {
		padding:0 !important;
	}
	#divFilters {
		width:100% !important;
	}
}
/* end mobile css */